{% extends 'base.html' %}
{% block  %}
  Страница не найдена
{% endblock  %}
{% block content %}
  <section class="not-found">
    <div class="not-found__column">
      <div class="not-found__error">
        <h1 class="not-found__number">404</h1>
        <h2 class="not-found__title">Страница не найдена</h2>
      </div>
      <p class="not-found__text title">Иногда такое случается</p>
      <a class="not-found__link" href="{% url 'wiki:index' %}">Вернуться на главную</a>
    </div>
  </section>
{% endblock  %}