@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

/* стили страницы */
@import url(./blocks/page.css);

/* хедер и футер */
@import url(./blocks/header.css);
@import url(./blocks/footer.css);

/* главная */
@import url(./blocks/main.css);

/* о Пинчоне */
@import url(./blocks/author.css);

/* разделы */
@import url(./blocks/chapters-nav.css);
@import url(./blocks/chapter1.css);
@import url(./blocks/chapter2-3.css);
@import url(./blocks/chapter4.css);
@import url(./blocks/chapter5.css);

/* о проекте */
@import url(./blocks/about-project.css);
@import url(./blocks/creators.css);
@import url(./blocks/contacts.css);

/* другие книги */
@import url(./blocks/other-books.css);

/* страница 404 */
@import url(./blocks/not-found.css);