.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-image: url("../../static/img/buttonup.png");
    background-size: 42px 42px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    z-index: 999;
}

.back-to-top:hover {
    background-image: url("../../static/img/buttonup.png");
}

.hidden {
    display: none;
}

a {
    color: black;
}

a:hover {
  color: #414141;
}

.nav-bg:hover {
  background-color: #C3C3C3;
}

#image-container {
  max-width: 100%;
  height: auto;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
}