{% extends 'base.html' %}
{% load static %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <section class="about-nav">
    <ul class="about-nav__links">
      <li class="about-nav__link-item about-nav__link-item_active">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:about-project' %}">Описание</a>
      </li>
      <li class="about-nav__link-item">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:creators' %}">Авторы</a>
      </li>
      <li class="about-nav__link-item">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:contacts' %}">Контакты</a>
      </li>
      <li class="about-nav__link-item">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:news' %}">Новости</a>
      </li>
    </ul>
    <h1 class="about-nav__title chapter-title">Как пользоваться сайтом</h1>
  </section>
  <section class="about-project">
    <img class="about-project__cover-img" src="{% static 'img/about-project-cover.jpg' %}" alt="">
    {% for article in articles %}
      <div class="about-project__description">{{article.text|safe}}</div>
    {% endfor %}
    <div class="about-project__content">
      <div class="accordion accordion-flush sidebar" id="notesNav">
        <div class="accordion-item">
          <button  id="plannedMeetingsButton" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#noteNav-1" aria-expanded="false" aria-controls="noteNav-1">
            <div class="accordion-header">
              <div class="sidebar__icon"></div>
              <h2 class="sidebar__title title-bold">Ссылки</h2>
            </div>
          </button>
          <div id="noteNav-1" class="accordion-collapse collapse">
            {% comment %} {% for meeting in planned %}
            <ul class="accordion-body">
              <li><a class="sidebar__link body-text comment-link" href="#{{ meeting.name }}">{{meeting.name}}{% if meeting.date %} / {{meeting.date}}{% endif %}</a></li>
            </ul>
            {% endfor %} {% endcomment %}
            <ul class="accordion-body">
              <li><a class="sidebar__link body-text comment-link" href="https://www.pynchonwiki.com">Пинчонвики</a></li>
              <li><a class="sidebar__link body-text comment-link" href="https://pynchonnotes.openlibhums.org">Публикации журнала «Pynchon Notes» </a></li>
              <li><a class="sidebar__link body-text comment-link" href="https://thomaspynchon.com">Сайт о творчестве Томаса Пинчона (не обновлялся с 2015 года, однако есть много интересных материалов)</a></li>
              <li><a class="sidebar__link body-text comment-link" href="https://drunkpynchon.com">Напитки в романах Томаса Пинчона</a></li>
              <li><a class="sidebar__link body-text comment-link" href="https://noiselesschatter.com/2013/03/05/the-love-songs-of-thomas-pynchon/"> Коллекция песен о любви в романах Томаса Пинчона</a></li>
              <li><a class="sidebar__link body-text comment-link" href="https://letterstobarbara.com/thomas-pynchon-v-valletta-report/">География Валетты</a></li>
              <li><a class="sidebar__link body-text comment-link" href="http://www.v2rocket.com">Сайт о ФАУ-2</a></li>
            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <button id="pastMeetingsButton" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#noteNav-2" aria-expanded="false" aria-controls="noteNav-2">
            <div class="accordion-header">
              <div class="sidebar__icon"></div>
              <h2 class="sidebar__title title-bold">Записи встреч</h2>
            </div>
          </button>
          <div id="noteNav-2" class="accordion-collapse collapse">
            {% for meeting in past %}
            <ul class="accordion-body">
              <li><a class="sidebar__link body-text comment-link" href="#meeting-{{ meeting.id }}">{{meeting.name}}{% if meeting.date %} / {{meeting.date}}{% endif %}</a></li>
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
      <div id="plannedMeetingsContainer" class="meeting">
        {% for meeting in planned %}
        <div id="meeting-{{ meeting.id }}" class="meeting__box">
          <div id="{{ meeting.name }}" class="meeting__header">
            <h2 class="meeting__topic title-bold">{{meeting.name}}</h2>
            {% if meeting.date %}
              <p class="meeting__date body-text">{{meeting.date}}</p>
            {% endif %}
          </div>
          <p class="meeting__text">{{meeting.text|safe}}</p>
          {% if meeting.image %}
            <img class="chapter-2-3-notes__img" src="{{meeting.image.url}}" alt="{{meeting.name}}"
              data-bs-toggle="modal" data-bs-target="#image-modal-{{ meeting.pk }}">
            <div class="modal fade" id="image-modal-{{ meeting.pk }}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <div class="modal-body text-center p-0">
                    <img src="{{ meeting.image.url }}" alt="{{ meeting.image.alt }}" class="modal-image">
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div id="pastMeetingsContainer" class="meeting">
        {% for meeting in past %}
        <div id="meeting-{{ meeting.id }}" class="meeting__box">
          <div id="{{ meeting.name }}" class="meeting__header">
            <h2 class="meeting__topic title-bold">{{meeting.name}}</h2>
            {% if meeting.date %}
              <p class="meeting__date body-text">{{meeting.date}}</p>
            {% endif %}
          </div>
          {% if meeting.text %}
            <p class="meeting__text">{{meeting.text|safe}}</p>
          {% endif %}
          {% if meeting.image %}
            <img class="chapter-2-3-notes__img" src="{{meeting.image.url}}" alt="{{meeting.name}}"
              data-bs-toggle="modal" data-bs-target="#image-modal-{{ meeting.pk }}">
            <div class="modal fade" id="image-modal-{{ meeting.pk }}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <div class="modal-body text-center p-0">
                    <img src="{{ meeting.image.url }}" alt="{{ meeting.image.alt }}" class="modal-image">
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% if meeting.link %}
            <div class="meeting__record">
              <iframe class="meeting__iframe" src="{{meeting.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    </div>
  </section>
{% endblock %}