{% extends 'base.html' %}
{% load static %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <section class="about-nav">
    <ul class="about-nav__links">
      <li class="about-nav__link-item about-nav__link-item_active">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:about-project' %}">Описание</a>
      </li>
      <li class="about-nav__link-item">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:creators' %}">Авторы</a>
      </li>
      <li class="about-nav__link-item">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:contacts' %}">Контакты</a>
      </li>
    </ul>
    <h1 class="about-nav__title chapter-title">Зачем мы все это делаем</h1>
  </section>
  <section class="about-project">
    <img class="tentacle tentacle5 tentacle_type_about" src="{% static 'img/tentacle5.png' %}" alt="фон">
    <p class="about-project__description body-text-bold">В США работал над программой баллистических ракет средней дальности (то есть от 3000 до 5500 км), считается также отцом американской космической программы. Эпиграф взят из статьи фон Брауна «Why I Believe in Immortality», опубликованной в книге Уильяма Николса «The Third Book of Words to Live By» (1962).</p>
    <div class="about-project__content">
      <div class="accordion accordion-flush sidebar" id="notesNav">
        <div class="accordion-item">
          <button  id="plannedMeetingsButton" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#noteNav-1" aria-expanded="false" aria-controls="noteNav-1">
            <div class="accordion-header">
              <div class="sidebar__icon"></div>
              <h2 class="sidebar__title title-bold">Запланированные мероприятия</h2>
            </div>
          </button>
          <div id="noteNav-1" class="accordion-collapse collapse">
            {% for meeting in planned %}
            <ul class="accordion-body">
              <li><a class="sidebar__link body-text comment-link" href="#{{ meeting.name }}">{{meeting.name}} / {{meeting.date}}</a></li>
            </ul>
            {% endfor %}
          </div>
        </div>
        <div class="accordion-item">
          <button id="pastMeetingsButton" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#noteNav-2" aria-expanded="false" aria-controls="noteNav-2">
            <div class="accordion-header">
              <div class="sidebar__icon"></div>
              <h2 class="sidebar__title title-bold">Записи встреч</h2>
            </div>
          </button>
          <div id="noteNav-2" class="accordion-collapse collapse">
            {% for meeting in past %}
            <ul class="accordion-body">
              <li><a class="sidebar__link body-text comment-link" href="#{{ meeting.name }}">{{meeting.name}} / {{meeting.date}}</a></li>
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
      <div id="plannedMeetingsContainer" class="meeting">
        {% for meeting in planned %}
          <div id="{{ meeting.name }}" class="meeting__header">
            <h2 class="meeting__topic title-bold">{{meeting.name}}</h2>
            <p class="meeting__date body-text">{{meeting.date}}</p>
          </div>
          <p class="meeting__text">{{meeting.text|safe}}</p><br>
          <a class="meeting__link" href="#">Регистрация</a> 
          <br><br><br>
        {% endfor %}
      </div>
      <div id="pastMeetingsContainer" class="meeting">
        {% for meeting in past %}
          <div id="{{ meeting.name }}" class="meeting__header">
            <h2 class="meeting__topic title-bold">{{meeting.name}}</h2>
            <p class="meeting__date body-text">{{meeting.date}}</p>
          </div>
          <p class="meeting__text">{{meeting.text|safe}}</p>
          {% if meeting.links %}
            <div class="meeting__record">
              <iframe class="meeting__iframe" src="{{meeting.links}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    </div>
  </section>
{% endblock %}