{% extends 'base.html' %}
{% load static %}
{% block title %}
  Томас Пинчон
{% endblock %}
{% block content %}
  <section class="pynchon-promo">
    <div class="pynchon-promo__content">
      <div class="pynchon-promo__title-box">Томас Пинчон</div>
      <p class="pynchon-promo__text title">Ведущий представитель постмодернистской литературы второй половины XX века.
        Обладатель Фолкнеровской премии за лучший дебют, лауреат Национальной книжной премии</p>
    </div>
    <img class="pynchon-promo__img" src="{% static "img/pynchon-art.png" %}" alt="Томас Пинчон">
  </section>
  <section class="bio">
    <div class="bio__article bio__article_columns">
      <img class="bio__image_high" src="{% static "img/1.Thomas_Pynchon.jpg" %}" alt="">
      <img class="bio__image_high" src="{% static "img/2.William_Pynchon.jpg" %}" alt="">
      <div class="bio__text body-text">
        <p><span>Томас Рагглз Пинчон-младший / Thomas Ruggles Pynchon, Jr., 8&nbsp;мая&nbsp;1937&nbsp;года.</span></p>
        <p>Отец: инженер и политик Томас Рагглз Пинчон-старший / Thomas Ruggles Pynchon Sr. (1907–1995), протестант.</p>
        <p>Мать: медсестра Кэтрин Фрэнсис Беннетт / Katherine Frances Bennett (1909–1996), католичка.</p>
        <p>Семейное древо Пинчона восходит к Уильяму Пинчону / William Pynchon (1590 - 1662), английскому колонисту-пуританину, приехавшему в Америку в 1630 году, основавшему город Спрингфилд, штат Массачуссетс / Springfield, Massachusetts и написавшему книгу о цене спасения души, которую в 1650 году публично сожгли в Бостоне.</p>
      </div>
    </div>
    <div class="bio__article bio__article_columns">
      <img class="bio__image_high" src="{% static "img/3.Oysterette_Staff.jpg" %}" alt="">
      <img class="bio__image_high" src="{% static "img/4.National_Honor_Society.jpg" %}" alt="">
      <div class="bio__text body-text">
        <p>Томас Пинчон родился и вырос в городке Глен-Ков, Лонг-Айленд, штат Нью-Йорк / Glen Cove, Long Island, New York.</p>
        <p>В 16 лет Пинчон закончил школу Oyster Bay High School «перепрыгнув» через два класса со званием «Ученик года». В старших классах Томас был редактором школьной газеты, в которой среди прочего печатал свои собственные художественные тексты.  В 1952 – 1953 гг. в газете вышла серия из четырёх коротких рассказов Пинчона под общим названием «Голос Хомяка» / «Voice of the Hamster». Их можно почитать <a href="https://pollen-press.ru/2018/10/11/pynchon_hamster/" target='_blank' rel='noreferrer'>здесь</a> на русском.</p>
      </div>
    </div>
    <div class="bio__article">
      <p class="bio__text bio__text_center title">Пинчон был членом Honor Society (лучшие ученики школы), входил в клуб по изучению испанского языка / Spanish Club, был режиссёром драмкружка, а также одним из основателей школьного Математического Клуба / Math Club. Участники клуба называли себя Парни / The Boys.</p>
    </div>
    <div class="bio__article bio__article_gallery">
        <img class="bio__image_high" src="{% static "img/5.Best_Student.jpg" %}" alt="">
        <img class="bio__image_high" src="{% static "img/6.Yearbook.jpg" %}" alt="">
        <img class="bio__image_wide bio__image_center" src="{% static 'img/7.Math_Club.jpg' %}" alt="">
    </div>
    <div class="bio__article bio__article_right">
        <p class="bio__text body-text">Осенью 1953 года Пинчон приезжает в Корнельский университет / Cornell University изучать прикладную физику. В 1955 г. он бросил учёбу и отправился служить в военно-морской флот США. На военной базе в Норфолке, штат Вирджиния, Пинчон получил квалификацию электрика. В 1956 г. Пинчон находился на борту эсминца USS Hank в Средиземном море во время Суэцкого Кризиса. Вернувшись в Корнельский университет в 1957 году, Пинчон сменил свою специализацию на английскую литературу. Возможно, что он посещал лекции Владимира Набокова, преподававшего там в это время, хотя Набоков в интервью утверждал, что не помнит такого студента. Томас Пинчон есть в списке студентов, эссе которых проверяла Вера Набокова. В июне 1959 г. он закончил курс со степенью бакалавра с особым отличием как член Общества Phi Beta Kappa.</p>
    </div>
    <div class="bio__article">
      <img class="bio__image_wide" src="{% static "img/8.Minstrel_Island.jpg" %}" alt="">
      <p class="bio__text body-text">В университете Пинчон дружил с Ричардом Фаринья (1937–1968), Киркпатриком Сейлом (р. 1937 г.) и Дэвидом Шетцлайном (р. 1934 г.). В 1958 году Пинчон и Сэйл взялись за сочинение мюзикла под названием «Minstrel Island» / «Остров менестреля». Он так и не увидел свет рампы, но рукопись до сих пор хранится в Техасском университете в Остине / The University of Texas at Austin.</p>
    </div>
    <div class="bio__article">
      <img class="bio__image_wide" src="{% static "img/9.California.jpg" %}" alt="">
      <p class="bio__text body-text">С февраля 1960 по сентябрь 1962 года Пинчон работал техническим писателем в компании Боинг в Сиэтле. Он писал статьи по безопасности для Bomarc Service News. В них речь шла о ракете Боинг CIM-10 Бомарк / Boeing CIM-10 BOMARC — «ракета-перехватчик подземного базирования No 10», принятая на вооружение в 1959 г. и использовавшаяся во время Холодной Войны для воздушной обороны США. С осени 1962 года Пинчон жил некоторое время в Нью-Йорке и в Мексике, а затем обосновался по адресу 217 33rd St Manhattan Beach, California.</p>
    </div>
    <div class="bio__article">
      <p class="bio__text body-text"><span>Первый роман</span></p>
      <div class="bio__text body-text">
        <p>Первый роман Пинчона «V.» вышел в 1963 году. Основное действие романа происходит в 1956 году в Нью-Йорке и на острове Мальта с флешбеками в конец XIX и начало XX вв. Роману была присуждена Фолкнеровская премия / William Faulkner Foundation Award за лучший дебют, также он был номинирован на Национальную книжную премию / the National Book Award. Существует две версии романа: по американскому и по английскому изданиям; английская версия является более точной, так как учитывает последние исправления, которые автор внес в роман непосредственно перед его публикацией. На русском языке есть три варианта перевода:</p>
        <ul>
          <li>Н. Махлаюк, С. Слободянюк и А. Захаревич, «Симпозиум», 2000 г.;</li>
          <li>Г. Григорьев и А. Ханин, «Амфора», 2000 г.;</li>
          <li>М. Немцов «Эксмо», 2014, «Иностранка», 2022 г.</li>
        </ul>
      </div>
    </div>
    <div class="bio__article bio__article_gallery">
        <img class="bio__image_high bio__cover-img" src="{% static "img/cover-v.jpg" %}" alt="">
        <img class="bio__image_high bio__cover-img" src="{% static "img/cover-v-3.jpg" %}" alt="">
        <img class="bio__image_high bio__cover-img" src="{% static "img/cover-v-2.jpg" %}" alt="">
        <img class="bio__image_high bio__cover-img" src="{% static "img/cover-v-4.png" %}" alt="">
    </div>
    <div class="bio__article">
      <p class="bio__text body-text"><span>Выкрикивается лот 49</span></p>
      <div class="bio__text body-text">
        <p>В 1964 году Калифорнийский университет в Беркли отклонил заявление Пинчона на изучение математики в качестве аспиранта. В декабре 1965 года Пинчон отказался от предложения преподавать литературу в Бенингтон-колледж / Bennington College, мотивируя тем, что пишет два, а то и три романа одновременно. Позже он охарактеризовал это решение как «момент временного помешательства», добавив, что «был слишком упрям, чтобы отказаться хотя бы от одного из них, не говоря уже обо всех сразу». В 1966 года был опубликован его второй и самый короткий роман «Выкрикивается лот 49» / «The Crying of Lot 49». Действие романа разворачивается в 1960-х в Калифорнии. На русский язык он переводился дважды:</p>
        <ul>
          <li>Н. Махлаюк и С. Слободянюк: первая версия этого перевода вышла в издательстве «Симпозиум» в 2000 г.; последняя – в издательстве «Иностранка» в 2022 г.</li>
          <li>А. Лало: под названием «Лот 49», издательство «АСТ», 2001 г.</li>
        </ul>
        <p>В июне 1966 году Пинчон опубликовал в журнале The New York Times Magazine статью «Путешествие в разум Уоттса» / «A Journey Into The Mind of Watt»s о последствиях восстания в городке Уоттс. <a class="bio__text-link" href="http://www.pynchon.pomona.edu/uncollected/watts.html" target='_blank' rel='noreferrer'>Здесь</a> можно почитать текст статьи на английском.</p>
      </div>
    </div>
    <div class="bio__article bio__article_gallery">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-49-1.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-49-2.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-49-3.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-49-4.png" %}" alt="">
    </div>
    <div class="bio__article">
      <p class="bio__text body-text"><span>Радуга тяготения</span></p>
      <div class="bio__text body-text">
        <p>В 1968 г. Томас Пинчон был среди 447 писателей и издателей подписавших «Протест против налога на войну» в газете New York Post. Они отказались платить «предлагаемую надбавку к подоходному налогу в размере 10% или любое увеличение налога, назначенное войной», и заявили, «что участие Америки во Вьетнаме является аморальным».</p>
        <p>Самый известный роман Томаса Пинчона «Радуга тяготения» «Gravity’s Rainbow» был издан 28 февраля 1973 года. Основное действие происходит в 1944-1945 гг. Русский перевод книги А.&nbsp;Грызуновой и М.&nbsp;Немцова впервые вышел в 2012 году (издательство «Эксмо»); новую версию перевода издала «Иностранка» в 2021 году. В 1974 г. роману вручили Национальную книжную премию / The National Book Award в номинации «художественная литература», которую он разделил со сборником «Корона из перьев и другие рассказы» / «A Crown of Feathers and Other Stories» Исаака Башевиса Зингера / Isaac Bashevis Singer. Пулитцеровскую премию в тот год книга не получила потому, что в последний момент члены комиссии посчитали роман «нечитабельным» и «непристойным».</p>
      </div>
    </div>
    <div class="bio__article bio__article_gallery">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-rainbow-1.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-rainbow-2.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-rainbow-3.png" %}" alt="">
    </div>
    <div class="bio__article bio__article_column">
      <p class="bio__text body-text"><span>Нерадивый ученик</span></p>
      <div class="bio__text body-text">
        <p>Следующая книга Пинчона появилась в 1984 году. Это был сборник ранних рассказов «Нерадивый ученик» / «Slow Learner». В состав сборника входят:</p>
        <ul>
          <li>авторское Предисловие / Introduction (перевод А. Гузмана, 2022 г.);</li>
          <li>«Мелкий дождь» / «The Small Rain» (1959), перевод Н. Махлаюк, С. Слободянюк и А. Захаревич, 2000/2022 г.;</li>
          <li>«К низинам низин» / «Low-lands» (1960), перевод Н. Махлаюк, С. Слободянюк и А. Захаревич, 2000/2022 г.;</li>
          <li>«Энтропия» / «Entropy» (1960); есть два перевода: Н. Махлаюк, С. Слободянюк и А. Захаревич, 2000 г. и С. Кузнецова, 1996 (это первый перевод произведения Пинчона на русский язык) и 2022 г.;</li>
          <li>«Под розой» / «Under the Rose» (1961), перевод Н. Махлаюк, С. Слободянюк и А. Захаревич, 2000/2022 г.;</li>
          <li>«Секретная интеграция» / «The Secret Integration» (1964), перевод Н. Махлаюк, С. Слободянюк и А. Захаревич, 2000/2022 гг.</li>
        </ul>
        <p>Впервые эти рассказы были опубликованы на русском языке издательством «Симпозиум» в 2000 г. (без указания сборника); в 2022 г. они вместе со впервые переведенным «Предисловием» были переизданы издательством «Иностранка» как сборник «Нерадивый ученик».</p>
        <p>Рассказ Пинчона «Милость и расправа в Вене» / «Mortality and Mercy in Vienna» (1959), в классические издания сборника не входит. Перевод С. Карпова, 2016&nbsp;г., доступен в Интернете.</p>
      </div>
    </div>
    <div class="bio__article bio__article_gallery">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-slow-learner.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-slow-learner-2.jpeg" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-slow-learner-3.jpg" %}" alt="">
    </div>
    <div class="bio__article">
      <p class="bio__text bio__text_center title">В октябре 1984 года в Книжном обозрении Нью-Йорк Таймс / The New York Times Book Review / была опубликована статья под названием «Нормально ли быть луддитом?» / "Is It O.K. to Be a Luddite?" Перевод Максима Бондарева можно почитать тут: <a class="bio__text-link" href="https://pollen-press.ru/2017/11/07/is-it-o-k-to-be-a-luddite/" target='_blank' rel='noreferrer'>Томас Пинчон: Нормально ли быть луддитом?</a>, оригинал статьи тут: <a class="bio__text-link" href="https://archive.nytimes.com/www.nytimes.com/books/97/05/18/reviews/pynchon-luddite.html" target='_blank' rel='noreferrer'>Is it OK to be a Luddite?</a></p>
    </div>
    <div class="bio__article">
      <p class="bio__text body-text"><span>Винляндия</span></p>
      <div class="bio__text body-text">
        <p>В 1990 году вышел роман «Винляндия» / «Vineland». Действие происходит в 1984 году в Калифорнии. На русском языке роман вышел в переводе М.&nbsp;Немцова в 2014 г., издательство «Эксмо».</p>
      </div>
    </div>
    <div class="bio__article bio__article_gallery">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-vineland.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-vineland-2.jpeg" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-vineland-3.png" %}" alt="">
    </div>
    <div class="bio__article bio__article_right">
      <div class="bio__text body-text">
        <p class="bio__text body-text"><span>Семья</span></p>
        <p>В 1990 году Томас Пинчон женился на Мелани Джексон / Melanie Jackson, правнучке Теодора Рузвельта и внучке Роберта Х. Джексона, судьи Верховного суда США и прокурора Нюрнбергского процесса.</p>
        <p>Их роман начался в 1982 году в то время, как Мелани была ассистенткой литературного агента Пинчона Кандиды Донадио / Candida Donadio. С тех пор Мелани основала своё собственное литературное агентство Melanie Jackson Agency (125 W 72nd St, New York, NY 10023) и по сей день представляет литературные интересы Томаса Пинчона.</p>
        <p>Семейная пара живёт на Манхеттене в районе Upper West Side рядом с Центральным Парком. В 1991 году у них родился сын Джексон. Он получил образование в Collegiate School (частная школа для мальчиков); в 2013 г. он закончил Колумбийский Университет / Columbia University.</p>
        <div class="bio__gallery">
          <img class="bio__image_family" src="{% static "img/bio-family-photo-1.png" %}" alt="">
          <img class="bio__image_family" src="{% static "img/bio-family-photo-2.png" %}" alt="">
        </div>
      </div>
    </div>
    <div class="bio__article">
      <div class="bio__text body-text">
        <p>В июне 1993 года в The New York Times Book Review была опубликована статья Пинчона «К Тебе тянусь, о Диван мой, к Тебе…» / "Nearer, My Couch, to Thee". Она является частью цикла статей «Смертные грехи», авторами которых стали 8 знаменитых американских писателей. Пинчону досталась Лень / Sloth.</p>
        <p>Перевод Светланы Силаковой можно почитать тут:<br><a class="bio__text-link" href="https://magazines.gorky.media/inostran/1996/3/k-tebe-tyanus-o-divan-moj-k-tebe.html" target='_blank' rel='noreferrer'>К Тебе тянусь, о Диван мой, к Тебе — Журнальный зал</a></p>
        <p>Оригинал тут: <a class="bio__text-link" href="https://archive.nytimes.com/www.nytimes.com/books/97/05/18/reviews/pynchon-sloth.html" target='_blank' rel='noreferrer'>The Deadly Sins/Sloth; Nearer, My Couch, to Thee</a></p>
      </div>
    </div>
    <div class="bio__article">
      <p class="bio__text body-text"><span>Мейсон и Диксон</span></p>
      <div class="bio__text body-text">
        <p>В 1997 году вышел роман «Мейсон и Диксон» / «Mason &amp; Dixon». На русский язык он не переводился и в планах издательств не значится.</p>
      </div>
    </div>
    <div class="bio__article bio__article_gallery">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-mason-dixon-2.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-mason-dixon.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-mason-dixon-3.png" %}" alt="">
    </div>
    <div class="bio__article">
      <p class="bio__text body-text">В 2004 году Томас Пинчон озвучивал самого себя в двух эпизодах мультсериала «Симпсоны».&nbsp; На голове мультяшного персонажа был надет ставший знаменитым бумажный пакет.</p>
      <div class="bio__fact-grid">

        <img class="bio__fact-item bio__fact-item_type_simpson-img" src="{% static "img/bio-fact-simpsons.png" %}" alt="" data-bs-toggle="modal" data-bs-target="#image-modal-simpson-1">
        <div class="modal fade" id="image-modal-simpson-1" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body text-center p-0">
                <img src="{% static "img/bio-fact-simpsons.png" %}" alt="" class="modal-image">
              </div>
            </div>
          </div>
        </div>

        <img class="bio__fact-item bio__fact-item_type_simpson-video" src="{% static "img/bio-fact-simpsons-2.png" %}" alt="" data-bs-toggle="modal" data-bs-target="#image-modal-simpson-2">
        <div class="modal fade" id="image-modal-simpson-2" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body text-center p-0">
                <img src="{% static "img/bio-fact-simpsons-2.png" %}" alt="" class="modal-image">
              </div>
            </div>
          </div>
        </div>

        <img class="bio__fact-item bio__fact-item_type_simpson-video" src="{% static "img/bio-fact-simpsons-3.png" %}" alt="" data-bs-toggle="modal" data-bs-target="#image-modal-simpson-3">
        <div class="modal fade" id="image-modal-simpson-3" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body text-center p-0">
                <img src="{% static "img/bio-fact-simpsons-3.png" %}" alt="" class="modal-image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bio__article">
      <p class="bio__text body-text"><span>Against the day</span></p>
      <p class="bio__text body-text">В 2006 году вышел самый объемный роман Пинчона «Against The Day». Его действие охватывает промежуток с 1893 г. по 20-е гг. ХХ века. Перевод М. Немцова под названием «Противоденствие» ожидается в конце 2023 года.</p>
    </div>
    <div class="bio__article bio__article_gallery">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-against-1.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-against-2.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-against-3.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-against-4.png" %}" alt="">
    </div>
    <div class="bio__article">
      <p class="bio__text body-text"><span>Внутренний порок</span></p>
      <p class="bio__text body-text">В 2009 году был опубликован роман «Внутренний̆ порок» / «Inherent Vice». Вместе с «Выкрикивается лот 49» и «Винляндией» он образует так называемую «калифорнийскую трилогию», хотя такое объединение не более чем условность – все книги Пинчона связаны между собой. Роман был экранизирован в 2014 году Полом Томасом Андерсоном. Перевод М. Немцова вышел в издательстве «Эксмо» в 2013 году, новая редакция перевода – в октябре 2023 года в издательстве «Иностранка».</p>
    </div>
    <div class="bio__article bio__article_gallery">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-vice-1.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-vice-3.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-vice-2.png" %}" alt="">
    </div>
    <div class="bio__article">
      <p class="bio__text body-text"><span>Край навылет</span></p>
      <div class="bio__text body-text">
        <p>И, наконец, в 2013 году появился последний на сегодняшний день роман Пинчона «Край навылет» / «Bleeding Edge». Перевод М. Немцова вышел в 2016 году в издательстве «Эксмо». События в романе разворачиваются в Нью-Йорке в 2001 - 2002 гг.</p>
      </div>
    </div>
    <div class="bio__article bio__article_gallery">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-edge-3.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-edge.png" %}" alt="">
      <img class="bio__image_high bio__cover-img" src="{% static "img/cover-edge-2.jpeg" %}" alt="">
    </div>
    <div class="bio__article">
      <p class="bio__text body-text">В декабре 2022 года Томас Пинчон продал свой архив Библиотеке Хантингтона, Сан-Марино, Калифорния / The Huntington Library, Art Museum and Botanical Gardens in San Marino, CA. Архив включает в себя 48 коробок с материалами, датированными с конца 1950-х и по начало 2020-х годов. Туда входят черновики и машинописные тексты всех изданных романов Пинчона от «V.» (1963) до «Bleeding Edge» (2013), обширные исследовательские заметки по многим темам, включая ракетостроение времен Второй мировой войны, историю почты, геодезию XVIII-го века и т.д. Также в архив вошла деловая переписка, касающаяся издания романов, но там нет ни личных писем, ни фотографий.</p>
    </div>
    <div class="bio__article">
      <img class="bio__image_wide" src="{% static 'img/10.Old_Pynchon.jpg' %}" alt="">
    </div>
  </section>
{% endblock %}