{% extends 'base.html' %}
{% load static %}
{% block title %}
  Томас Пинчон
{% endblock %}
{% block content %}
  <section class="pynchon-promo">
    <div class="pynchon-promo__content">
      <div class="pynchon-promo__title-box">Томас Пинчон</div>
      <p class="pynchon-promo__text title">Ведущий представитель постмодернистской литературы второй половины XX века. Обладатель Фолкнеровской премии за лучший дебют, лауреат Национальной книжной премии</p>
    </div>
    <img class="pynchon-promo__img" src="{% static 'img/pynchon-art.png' %}" alt="Томас Пинчон">
  </section>
  <section class="bio bio_type_childhood">
    {% for article in articles %}
      <p class="bio__date-span">{% if article.name %}{{article.name}}{% endif %}</p>
      <article class="bio__article">
        <p class="bio__text body-text">{{article.text|striptags|safe|linebreaksbr}}</p><br>
        {% if article.image %}
          <div class="image-container">
            <img class="chapter-2-3-notes__img" src="{{article.image.url}}" alt="{{article.name}}"
              data-bs-toggle="modal" data-bs-target="#image-modal-{{ article.pk }}">
            <div class="modal fade" id="image-modal-{{ article.pk }}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-body text-center p-0">
                    <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" class="modal-image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </article>
    {% endfor %}
  </section>
  
  <section class="bio bio_type_slider">
    <div class="bio__slider-container">
      <div class="swiper bio__slider-list">
        <div class="swiper-wrapper">
          <img class="swiper-slide bio__slider-photo" src="{% static 'img/cover-v.jpg' %}" alt="обложка">
          <img class="swiper-slide bio__slider-photo" src="{% static 'img/cover-v-2.jpg' %}" alt="обложка">
          <img class="swiper-slide bio__slider-photo" src="{% static 'img/cover-v-3.jpg' %}" alt="обложка">
        </div>
      </div>
      <div class="swiper-button-next bio__slider-next-btn"></div>
      <div class="swiper-button-prev bio__slider-prev-btn"></div>
    </div>
  </section>
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    // Настройки слайдера с обложками
    const swiper = new Swiper('.swiper', {
      slidesPerView: 'auto',
      spaceBetween: 16,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    })
  </script>
{% endblock %}