{% extends 'base.html' %}
{% block title %}
  Как перестать беспокоиться и начать читать роман
{% endblock  %}
{% block content %}
  <section class="chapters-nav">
    <div class="search"></div><br><br>
    {% include 'includes/chapters.html' %}
    <h1 class="chapters-nav__title chapter-title">Как перестать беспокоиться и начать читать роман</h1>
  </section>
  <section class="chapter chapter-1-how">
    <div class="chapter-1-how__article">
      <h2 class="chapter-1-how__subtitle body-text-bold">"Радуга тяготения" Томаса Пинчона:<br>
        <span class="chapter-1-how__subtitle-span">Бог-Император художественной литературы</span>
      </h2>
      <p class="chapter-1-how__text body-text">Теперь все вместе: "По небу раскатился вой". В этой половине статьи я расскажу,
        как перестать беспокоиться и начать читать "Радугу тяготения", зачем читателю 900 страниц хитроумных
        повествовательных техник, завернутых в слои отсылок к реалиям 40-х, и что делать, когда после прочтения роман
        оказался еще менее понятным, чем до.<br>
        Если начинать с конца (tl;dr), то у вас читательского опыта такого не бывало раньше, даже если эту книгу есть
        с чем сравнить.</p>
    </div>
    <div class="chapter-1-how__article">
      <h2 class="chapter-1-how__subtitle body-text-bold">Клеймер</h2>
      <p class="chapter-1-how__text body-text">О "Радуге тяготения" в рунете есть довольно много статей, рецензий и роликов на
        YouTube, но их авторы, на мой взгляд, слишком стараются создать вокруг романа атмосферу неизбывного
        читательского ужаса. Чем только не пугают – и невозможностью понять прочитанное, и отсутствием сюжета, и
        ворохом технической информации, и чудовищными сценами полнейшего безумия. А среди тех, кто хвалит, сильна
        фракция "не вдумывайтесь, это бесполезно, просто читайте и получайте удовольствие". В итоге создается
        впечатление, что книгу открывать не стоит, там чуть ли не буквы в случайном порядке расставлены и читателя в
        ней ждут только страдания и тоска об утраченном времени.<br>
        На самом деле "Радуга тяготения" – это как раз очень сюжетная книга, по большей части понятная на первом
        прочтении. Да, в ней есть научные и инженерные сведения, но они красиво и уместно вписаны в историю, есть и
        действительно безумные сцены, однако наполненные смыслом, а не бессмыслицей. Роман весьма непрост, однако он
        вознаграждает читателя за внимательность и работу с текстом, поэтому говорить о нем стоит не как о кошмарном
        сне, а как об увлекательном путешествии. Эта статья написана для тех, кто никак не может приступить к "Радуге
        тяготения" или вовсе не собирается за нее браться, и потому здесь даны лишь наиболее очевидные моменты, какие
        полезно знать перед чтением (или вместо чтения, если книга совсем-совсем не ваша и вы никогда ее не откроете).
      </p>
    </div>
    <div class="chapter-1-how__article">
      <h2 class="chapter-1-how__subtitle body-text-bold">"Радуга тяготения" снаружи</h2>
      <p class="chapter-1-how__text body-text">"Радуга тяготения" (Gravity’s Rainbow) – третий роман американского писателя 
        Томаса Пинчона (Thomas R. Pynchon Jr). Опубликован в 1973 году в издательстве Viking Press, взял авторитетную премию 
        National Book Award of Fiction, проиграл фантастическую премию Nebula Award роману "Свидание с Рамой" Артура Кларка и 
        так скандализировал жюри Пулицеровской премии, что оно предпочло не давать награду никому, лишь бы не награждать Пинчона.<br>
        "Радуга тяготения" – это научно-фантастический роман о глубинных закулисных событиях конца Второй мировой войны. Де-факто 
        книга соответствует признакам "новой волны" научной фантастики 60-х, сосредоточенной не на технологических, а на 
        психологических темах, правда, мне не удалось найти упоминаний об идейной и тематической близости Пинчона к нововолновикам 
        (вероятно, научную фантастику и "Радугу тяготения" до сих пор читают разные аудитории, что довольно странно). Филологи 
        включают текст в число "великих американских романов", что не менее странно, и относят к образцам литературного постмодерна.<br>
        "Радуга тяготения" регулярно занимает верхние места в различных топ-N лучших или самых трудных книг. Читатели неизменно отмечают 
        переусложненность повествования, проблемы с распутыванием сюжетных переплетений и пониманием авторских идей, обилие 
        возмутительных сцен и общее безумие текста, где перемешаны физико-математические выкладки, разработки в сферах органической 
        химии и физиологии высшей нервной деятельности, эзотерика и паранормальные явления, мировой заговор, борьба революционеров 
        и корпораций, элементы кино и комиксов, песни и пляски, включая кыргызский рэп-баттл, трагические семейные и любовные 
        отношения, комические приключения неудачников, внезапные вставные истории на социально-философские темы, немецкие негры, 
        гигантский осьминог, костюм свиньи, банановый завтрак, наркотики, копрофагия и порнография. Поэтому роман не менее регулярно 
        упрекают в "чрезмерности", "отвратительности" и "нечитабельности".<br>
        На русском языке впервые издана в 2012 году (двумя изданиями сразу: одно с каноничным числом страниц – 760, другое в серии 
        "Интеллектуальный бестселлер") в добротном переводе Максима Немцова и Анастасии Грызуновой, проделавших огромную работу по 
        выявлению в тексте отсылок, взаимосвязей, скрытых терминов, символов и других значимых элементов, которые при локализации 
        терять нельзя. Переиздана в 2021/2022 году "Азбукой" в доработанном виде – исправлены мелкие ошибки первых изданий, добавлены 
        найденные за десять лет секреты. Зная, что Немцова, как и Грызунову, принято ругать за оригинальность метода, подчеркну, что 
        здесь коллектив переводчиков сработал на 5+. Столь сложносочиненный текст при переводе можно испортить весьма многообразными 
        способами, прежде всего непоследовательностью и пропуском важных деталей, однако русификаторам удалось этого избежать и 
        сохранить специфику организации информации в романе. Что касается неизбежных потерь в точности, то даже они уместны, поскольку 
        помогают раскрыть центральную историю "Радуги тяготения".
      </p>
    </div>
    <div class="chapter-1-how__article">
      <h2 class="chapter-1-how__subtitle body-text-bold">"Радуга тяготения" в двух словах</h2>
      <p class="chapter-1-how__text body-text">На поверхности "Радуга тяготения" в основном рассказывает о жизни американского 
        лейтенанта Энии Ленитропа (Tyrone Slothrop) с декабря 1944-го по август 1945-го. Сначала он служит в Лондоне, где его пикантно 
        паранормальная способность предсказывать места падения германских ракет "Фау-2" (V-2) привлекает внимание секретной 
        правительственной организации ПИСКУС (PISCES). Затем его с некой тайной целью отправляют во Францию, где путем манипуляций 
        заставляют изучать загадочные документы об особой "Фау-2" с номером 00000, внутри которой располагается неведомое устройство 
        Schwarzgerät. Оттуда через Швейцарию Ленитроп сбегает в Германию, где в течение мая-августа он будет пытаться найти 00000 
        и установить причастность к ее созданию пластика имиколекс (Imipolex G), наркотика онейрин (Oneirine) и гениального ученого 
        Ласло Ябопа (Laszlo Jamf). Каким-то образом все эти странные слова связаны и с его судьбой.<br>
        Роман состоит из четырех частей. В первой части "За нулем" идет знакомство с британскими и международными организациями разной 
        степени секретности, чьи сотрудники так или иначе пересекаются с Ленитропом. Наиболее важны среди них способный видеть чужие 
        сны и фантазии Джеффри "Пират" Апереткин (Jeoffrey "Pirate" Prentice), физиолог-павловец Эдвард Стрелман (Edward W. Pointsman) 
        и молодой статистик Роджер Мехико (Roger Mexico). Мехико обнаружит, что Ленитроп занимается сексом со случайными девушками 
        каждый раз там, куда через пару дней падает очередная "Фау-2", Стрелман захочет изучить главного героя с точки зрения учения 
        И. П. Павлова о высшей нервной деятельности, а вот роль Апереткина, помимо банановых завтраков, находится в зоне спойлеров.<br>
        Параллельно начнет развиваться вторая главная сюжетная линия: о нацистском офицере Вайссманне (Weissmann), он же капитан Бликеро 
        (Captain Blicero), запустившем 00000, и его подчиненных, прежде всего юном БДСМ-любовнике Готтфриде (Gottfried) и двойном агенте 
        Катье Боргесиус (Katje Borgesius), перед запуском сбежавшей в Англию с помощью Апереткина. "За нулем" переполнена персонажами 
        и их историями, часть из которых станут важными действующими лицами в дальнейшем, а часть так и останутся деталями фона.<br>
        Во второй части "Une Perm au Casino Hermann Goering" (в переводе с французского "Увольнительная в казино "Герман Геринг"") 
        Стрелман примется удаленно проводить опыты над Ленитропом на французской Ривьере, лишая того привычной жизни, а история станет 
        ощутимо усложняться в научном и идейном планах.<br>
        В третьей части "В Зоне", где Ленитропа будет носить от одного немецкого города к другому, от одной группы странных людей 
        к другой, произойдет повествовательный взрыв. Во-первых, добавятся еще три главные сюжетные линии: а) немецких гереро 
        "Шварцкоммандо" во главе с экс-любовником Вайссманна Энцианом; б) советского офицера Вацлава Чичерина, стремящегося убить 
        Энциана; в) кинематографического дуэта режиссера-новатора Генриха фон Гелля и мазохистской актрисы Маргериты Эрдман. Во-вторых, 
        путь Ленитропа превратится в калейдоскоп лиц, мест и событий, и с каждым новым поворотом сюжет будет становиться все 
        лихорадочнее и безумнее.<br>
        В четвертой части "Противодействие" одни сплошные спойлеры, в том числе все непонятные и не имеющие явного отношения к основной 
        истории главы. Можно лишь сказать, что у главных сюжетных линий будут закономерные финалы, к которым автор подведет персонажей 
        загодя, при этом требования к восприятию и пониманию текста вырастут значительно. Скорее всего, по завершении чтения у читателя 
        останется множество открытых вопросов, причем в классических источниках, как pynchonwiki.com или "A Gravity’s Rainbow Companion" 
        Стивена Вайзенбергера, не на все из них найдутся ответы.
      </p>
    </div>
    <div class="chapter-1-how__article">
      <h2 class="chapter-1-how__subtitle body-text-bold">Радуга убеждения</h2>
      <p class="chapter-1-how__text body-text">Снаружи и в двух словах видно, что "Радуга тяготения" – это напополам умная и 
        психоделическая книга, какие писали в старые-добрые рокенрольные времена. Самое время задать сакраментальный вопрос: 
        ну и что? Почему нужно читать именно третий роман Томаса Пинчона, а не что-нибудь другое?<br>
        На этот вопрос есть целый спектр (радуга!) ответов. Варианты вроде "потому что это одна из главных книг XX века" или 
        "потому что роман считается вершиной интеллектуальной литературы" (ну или "вершиной постмодерна") я сразу оставляю в стороне, 
        поскольку они являются ad verecundiam. "Радуга тяготения", конечно, в самом деле одна из главных книг XX века и вершина 
        интеллектуальной литературы, а если бы она была горой, ее бы назвали Пик Постмодернизма, но это лишь декларация ценности 
        текста, а не аргументация. У приключений Ленитропа есть достоинства посерьезнее титулов.<br>
        На мой взгляд, главное, что ценно в "Радуге тяготения" – это грандиозная, многоуровневая история об устройстве нашего мира. 
        Ее не так просто разглядеть в сверхзвуковом водовороте лиц, событий, деталей, идей, шуток и научных сведений, но именно она 
        делает роман важным художественным текстом, а не просто изысканным развлечением для любителей отсылок и нарративных паззлов. 
        Здесь я расскажу только об одном из ее уровней – уровне Войны. Пинчон берет Вторую мировую войну – центральную травмирующую 
        тему раннего американского постмода – и вписывает ее в глобальный контекст человеческой цивилизации, мистических учений от 
        Каббалы до карт Таро и естественнонаучных знаний вплоть до геологии с экологией. Он показывает природную, техногенную и 
        сверхъестественную логику этой всеобщей катастрофы, которая до него осмыслялась почти исключительно либо в шизофреническом 
        (отказ от понимания), либо в банальном политическом (простейшее понимание) ключе.<br>
        "Радуга тяготения" раскрывает многосторонние причины Второй мировой войны и всех ее чудовищных преступлений против человечности. 
        Шизофрении и политике в ней, конечно, тоже нашлось место, но роман намного больше и того, и другого. Речь в книге идет о 
        таких высоких (или, наоборот, глубоких) факторах, что сцены сражений на ее страницы не попали: только пронзающие Лондон 
        "Фау-2" в первой части относятся к собственно войне, события второй части происходят на только что освобожденной от нацистов 
        земле, а события третьей – после победы над Германией. Дело в том, что война 1939-1945 годов интересует автора не столько 
        сама по себе, сколько как частный случай более общего явления: на ее примере Пинчон рассказывает о Войне с большой буквы как 
        социальном институте, бизнес-процессе, метафизическом объекте и законе природы.<br>
        По Пинчону Война никогда не прекращается. У нее есть локальные возмущения – боевые действия, – а есть более спокойные 
        состояния, когда конфронтация продолжается незаметно для простых людей, однако конца у нее нет. Представление войны и мира 
        противоположностями ошибочно, поскольку Мир (peace, не world) как таковой не существует, а у Войны другой антоним, о чем 
        пойдет разговор во второй половине статьи. Война – не стихийное бедствие, а управляемая сила, и на каждом слое бытия, где 
        она ведется, есть свои выгодоприобретатели Войны, для краткости называемые Они. Зловещие Они, манипулирующие жизнями простых 
        людей, на одном уровне могут быть всего лишь государственной спецслужбой, на уровне выше – транснациональной корпорацией, 
        еще выше – тайной всемогущей организацией, еще выше – мистической изнанкой мира, еще выше – иной формой бытия.<br> 
        В "Радуге тяготения" Томас Пинчон изображает, как все это работает. Вторая мировая война взята как уникальный момент истории, 
        когда действующие силы Войны вышли на поверхность и стали доступны для наблюдения, а также когда произошли решающие сражения 
        за контроль не над территориями и народами, а над самой реальностью нашего Мира (world, не peace). Особенность романа, выделяющая 
        его из ряда книг о военных делах корпораций, состоит в том, что деньги здесь не играют значимой роли, хотя и им тоже уделяется 
        немало внимания. Деньги – вещь такая же банальная и поверхностная, как политика, всего лишь еще один инструмент для Их манипуляций 
        людьми ради куда более желанных материй. Оставаясь полностью предметной, живописной и убедительной, история "Радуги тяготения" 
        поднимается на захватывающие дух высоты осмысления событий 40-х годов и их чудовищной дочеловеческой и постчеловеческой подоплеки.<br>
        Второе, что выделяет "Радугу тяготения" – это глубина проработки истории и текста. Число значимых деталей в романе стремится к 
        числу употребленных в нем слов. Причем речь не столько об упоминаниях американских / британских / французских / германских / 
        советских реалий Второй мировой войны, отсылках к книгам / кино / музыке или специальных терминах из математики / физики / химии 
        / биологии (хотя тысячи упоминаний реалий, отсылок к другим произведениям и спецтерминов действительно имеют место), сколько о 
        конструирующих историю элементах. Каждое предложение не только повествует о приключениях Ленитропа и прочих недоходяг в мире Войны, 
        где властвуют Они, но и передает читателю тайное послание об истинном положении дел на втором-третьем-четвертом уровнях местной 
        реальности. Цвета, цветы, числа, формы, материалы, схемы, названия, имена на что-то намекают, о чем-то подмигивают, обнажают 
        сюжетные секреты, стоит лишь обратить на них внимание и допустить, что они появились в тексте не просто так. В нем и правда все 
        не просто так.<br>
        В художественной литературе есть ненулевая группа книг-ребусов, в которых за внешней историей для удовольствия пытливого читателя 
        спрятана и рассыпана по страницам история внутренняя, тайная (пожалуй, лучший пример – это "Бледный огонь" Владимира Набокова), 
        но у "Радуги тяготения" в этой группе свое лицо: она скрывает в себе не какую-то одну, а неопределенное число тайных историй. 
        Не будет преувеличением сказать, что роман содержит в себе вообще всю возможную информацию о действительности. В этом он сближается 
        с "На помине Финнеганов" и даже может рассматриваться как своеобразный ответ Пинчона Джойсу, только если "Финнеганы" организованы 
        скорее как громадное облако тэгов (и гэгов), то в "Радуге" информация подается в формате бадибэгов связного текста и относительно 
        последовательной истории. То есть Пинчон совершенствует джойсовскую идею Романа-Вообще – вместо перечисления всего и вкаламбуривания 
        всего друг в друга он организует все в текстовую систему систем, по устройству сравнимую с нашим мирозданием, где на разных уровнях 
        есть место и жестким структурам, и мягкой силе, и откровенному хаосу.<br>
        Многозначительность каждого элемента романа проистекает не из желания автора поупражняться в мастерстве составления магических 
        квадратов, а из необходимости рассказать центральную историю, следовательно, "Радуга тяготения" является идеалом для читателей, 
        которые любят выискивать потаенные смыслы. В "Радуге" они на самом деле присутствуют, причем все сразу, и применение к роману 
        любой существующей системы знаний обязательно даст какой-то содержательный результат – и не потому, что при желании сову можно 
        натянуть на глобус, а потому, что автор ради воплощения глобального замысла действительно сконструировал текст с учетом всех 
        существующих систем знаний, от научных до эзотерических. Отсюда такая многосоставность информации, однако, вплетая в книгу 
        химические и биологические сведения, физико-математические формулы и инженерные решения, карты Таро и знаки Зодиака, каббалу 
        и христианство, правила кинематографа и музыки, историографию и лингвистику, находя в них общее и синтезируя их друг с другом, 
        Пинчон только на первый взгляд щеголяет перед читателем энциклопедизмом, а на самом деле у него просто нет другого пути, 
        чтобы последовательно и полно передать свои идеи.<br>
        Третье, что делает "Радугу тяготения" выдающейся книгой, проистекает из первых двух ее особенностей. Грандиозность истории 
        и всеохватность текста позволяют читателю неоднократно возвращаться к роману, каждый раз находя в нем все новые и новые сюжетные 
        и смысловые тайники. Есть много очень хороших книг, которые достаточно прочитать один раз, поскольку большего, чем в первое 
        прочтение, они вам уже не дадут, но "Радуга" совершенно иная – из-за массивности и плотности упакованных в нее данных каждое 
        прочтение будет давать дополнительный читательский опыт. Можно перечитывать отдельные места в попытке прояснить конкретные 
        вопросы, можно – всю книгу под каким-то одним углом, например, с точки зрения математических метафор или с точки зрения функций 
        секса в истории, можно просто проходить это путешествие в очередной раз от "По небу раскатился вой" до "Теперь все вместе", 
        что-то важное и полезное обязательно отыщется.<br>
        Понятно, что "Радуга тяготения" понравится далеко не всем: для кого-то она будет слишком сложная, для кого-то – слишком 
        сумасшедшая, для кого-то – слишком мерзкая, для кого-то – слишком скучная. Но те, кто ее полюбит, обретут читательский идеал, 
        то есть книгу, текст которой можно с интересом воспринимать и понимать до бесконечности. Поскольку роман создает собственную 
        целостную систему всего, он не только послужит своим поклонникам неисчерпаемым развлечением и нагрузкой для интеллекта, но и 
        преобразует их мировосприятие, научит видеть символику "Фау-2" и ее полета в окружающих предметах, слышать звуковую тень, 
        уважать циклические соединения, со вкусом отдаваться паранойе, замечать в социальных отношениях аналоги химических и физических 
        процессов, бояться креплаха, понимать гуманистическую ценность хаоса, избегать бихевиористов, торговцев дурью и костюм свиньи, 
        решать двойные интегралы, готовить банановые вафли, помалкивать под амитал-натрием и смотреть на все вокруг как на нечто 
        многослойно большее, чем оно кажется.<br>
        Потому я и назвал "Радугу тяготения" в заголовке Богом-Императором художественной литературы (до трагической битвы с Хорусом). 
        Эта книга взяла все культурное наследие человечества, пересобрала его в увлекательную, регулярно уморительно смешную историю о 
        приключениях американского недотепы в (после)военной Европе и убедительно соединила все со всем, образовав текст-универсум. 
        Она отличается от иных впечатляюще сочиненных и прекрасно написанных книг так же, как – если развить сравнение с Вархаммером 
        40000 – Бог-Император отличается от Адептус Кустодес: Кустодианская стража могущественна, но правитель Империума превыше их всех. 
        "Радуга тяготения" породила немало романов-примархов, и вполне возможно, что один из них когда-нибудь окажется еретиком Хорусом, 
        но и ересь не заставит Роман-Вообще Томаса Пинчона сойти с Золотого Трона литературы. Это поистине культовое произведение, 
        при чтении производящее читателей в культистов Противодействия, адептов ковалентной связи и поклонников полиимидов и теофосфатов.
      </p>
    </div>
    <div class="chapter-1-how__article">
      <h2 class="chapter-1-how__subtitle body-text-bold">Радуга тягоЧтения</h2>
      <p class="chapter-1-how__text body-text">Допустим, предыдущая часть статьи смогла заинтересовать вас чтением "Радуги тяготения". 
        Поскольку теперь совсем ясно, что текст не из легких, возникает второй сакраментальный вопрос: а как это читать?<br>
        На него тоже есть ряд (радуга!) ответов. Во-первых, роман вполне нормально читается в одиночку, без подготовки, изучения 
        справочных материалов и обращения к разборам вроде того, что ждет вас во второй половине статьи. Просто открыли и поехали. 
        В книге есть очень темные места, например, первые три страницы, но большая часть текста вполне ясная – персонажи куда-то 
        идут или бегут, встречаются друг с другом, разговаривают, что-то думают и чувствуют. Периодически, особенно на первом прочтении, 
        будет возникать ощущение, что в истории выключили то ли логику, то ли связность – на этих эпизодах не надо сдаваться, они как 
        онейриновый туман, что рассеется на следующем сюжетном повороте; не теряя присутствия духа пройдите их на ощупь. То же самое 
        касается сложных теоретических выкладок из наук, вам не близких – они быстро заканчиваются, и Ленитроп вновь вполне внятно 
        стремится по своей параболе из Лондона в Куксхафен.<br>
        В общем и целом, для одиночного неподготовленного чтения "Радуги тяготения" нужно прежде всего принять факт, что вы не очень 
        поймете книгу с первого раза и многое в ней упустите. Связано это и с тем, как обильно в нее заложено информации, и с тем, 
        как хитро она упакована, и не в последнюю очередь с тем, что на многие вопросы ответы ближе к финалу даются так, что понять 
        их можно только при перечитывании. Я думаю, можно даже считать, что на самом деле в книге не 760-920 страниц 
        (в зависимости от издания), а 1500-1800: заключительные главы настолько преображают историю, что после них надо сразу читать 
        заново первые части и в свете нового понимания "За нулем" и "Отпуска" пересматривать события "В Зоне" и "Противодействия". 
        По сути, первое прочтение является не более чем обучением читателя: вот онейрин, вот имиколекс, вот обратная связь, вот бренншлусс, 
        вот распределение Пуассона, вот призраки и Зона, вот Ласло Ябоп, Бликеро, Пеклер, Стрелман, Мехико, Энциан, Чичерин, Катье Боргезиус, 
        "Пират" Апереткин и Ленитроп. Ознакомились? Теперь пора открыть книгу на первой странице еще раз и прочесть ее уже по-настоящему.<br>
        Если роман вас не зацепит, то для поверхностного понимания его истории хватит и одного прочтения. "Радуга тяготения" не обязывает 
        читателя лезть в глубины, как звездное небо не обязывает человека стремиться в космос. Вы в любом случае – и без чрезмерного 
        труда – сможете проследить жизненный путь Энии Ленитропа и других ключевых персонажей, узнать исход любовной истории Мехико, 
        итог охоты Чичерина на Энциана, финал научной карьеры Стрелмана и, конечно же, секрет 00000 со шварцгератом внутри. Многие важные 
        для книги идеи проговариваются прямым текстом, другие ярко показаны через события, и какая-то система знаний о тексте у вас точно 
        сложится. Тут главное – раз уж роман не пришелся вам по сердцу – концентрироваться на наиболее понятных эпизодах и центральных 
        персонажах, не застревать в темных местах и не отвлекаться на сотни второ-/третьестепенных фигур. Держитесь основной траектории 
        Ракетмена (уравнение по рысканию вам в помощь), и вы обязательно доберетесь до последней страницы и извлечете из своего читательского 
        труда порядочную интеллектуальную пользу.<br>
        Во-вторых, "Радугу тяготения" можно прочитать и вооружившись справочниками по роману, в частности, упомянутыми выше книгой 
        "A Gravity’s Rainbow Companion" Стивена Вайзенбергера и сайтом pynchonwiki.com, а также такими аналитическими материалами, 
        как рецензия Ричарда Лока для New York Times и, самое главное, материалами нашего сайта. Справочники в большей степени помогают 
        справляться с незнакомой фактурой и отсылками, а аналитика – понимать, что в книге происходит с точки зрения аналитиков.<br>
        При этом надо иметь в виду, что ни один справочник не сможет охватить всю "Радугу тяготения". Любая справочная литература будет 
        больше стимулировать вас на самостоятельную работу, чем давать "правильные" ответы. То же самое еще в большей степени относится 
        к аналитике: поскольку книга огромна, в ограниченном здравым смыслом объеме печатных знаков раскрыть ее невозможно 
        (как и пересказать), и дело даже не в трюизме, что любой разбор текста ограничивается аспектами, интересными разборщику, а в том, 
        что по каждому такому аспекту в "Радуге тяготения" по-хорошему надо писать монографию страниц на 760. Так что и чужих трактовок вам, 
        скорее всего, не хватит, чтобы снять возникшие при чтении вопросы, да даже базовый вопрос "что это было?".<br>
        Я думаю, это здорово. "Радуга тяготения", будучи громадным гиперкубиком убика, буквально взывает о самостоятельном личном 
        исследовании ее уровней. История о том, что за внешним слоем событий есть все более и более внутренние, требует от читателя, 
        чтобы тот шел по сюжету на равных с персонажами, то есть предполагал, не понимал, не видел подсказки на самом видном месте, а 
        потом – раз! – и замечал их, строил теории, время от времени захлебывался в очередном информационном шторме и пытался собраться 
        с мыслями в затишье.<br>
        В-третьих, можно читать "Радугу тяготения" совместно, и на мой взгляд, это лучший способ. Книга создана для того, чтобы группой 
        энтузиастов изучать ее имиколексные лабиринты и складывать клочки синек в целые чертежи 00000. Вновь этого требует история, где 
        у каждого персонажа есть лишь небольшой обрывок данных о Войне и Противодействии. Поодиночке, разобщенные Ими, персонажи бессильно 
        болтаются в водовороте жизни и смерти, и только в сотрудничестве друг с другом им удается хоть немного взять судьбу в свои руки. 
        С чтением романа тут полная аналогия: если вы взялись за него вдесятером, обсуждая каждую главу на регулярных собраниях и делясь 
        находками, гипотезами, трактовками событий, он раскроется вам ярче и полнее, чем если вы несколько раз пройдете его в гордом 
        одиночестве. "Радуга тяготения" рассчитана на мультиплеер; это роман-MMORPG, где для успешного рейда по страницам нужны и 
        выносливые читатели-танки, принимающие на себя основной удар текстовых мобов и боссов, и проницательные читатели-ДД, выбивающие 
        из абзацев отсылки, намеки и смыслы, и опытные читатели-хилы, успокаивающие партию, что это еще простая лока, а вот дальше…<br>
        Есть у меня и другая метафора. "Радуга тяготения" есть пребывающая в суперпозиции квантовая система с неопределенным числом 
        состояний, из-за чего и событийная, и смысловая редукция фон Неймана при каждом ее чтении (=измерении) будет выдавать каждому 
        читателю уникальный результат. Поэтому так интересно читать роман группой: поскольку у всех коллапс волновой функции приключений 
        Ленитропа приводит к разным квантовым состояниям и пинчоновского текста, и собственного ума, их соизмерение одновременно обогащает 
        понимание книги и порядочно развлекает всех участников экспедиции. Всякий заметит что-то свое, пропущенное остальными. По этой 
        причине стоит говорить и о том, что к анализу "Радуги тяготения" нужно применять статистический подход, рассматривать не отдельные 
        читательские трактовки, а их распределение по ансамблю (правда, тут мои метафорические таланты уже иссякают, и я не могу сказать 
        точно, распределение Гаусса, Пуассона или хи-квадрат, я ведь не Томас Р. Пинчон, а всего лишь Андрей Н. И. Петров).
      </p>
    </div>
    <div class="chapter-1-how__sign">
      <p class="chapter-1-how__text body-text">Андрей Н. И. Петров<br><span class="chapter-1-how__sign-span">Автор статьи:</span></p>
    </div>
  </section>
{% endblock %}