{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  Хронология
{% endblock %}
{% block content %}
  <section class="chapters-nav">
    {% include 'includes/form_search.html' %}
    {% include 'includes/chapters.html' %}
    <h1 class="chapters-nav__title chapter-title">Хронология</h1>
    <br><br><br>
    <section class="chronology">
      <div class="chronology__slider-container">
        <div class="swiper-button-prev chronology__prev-btn"></div>
          <div class="swiper1 chronology__slider">
            <div class="swiper-wrapper chronology__wrapper">
              {% for event in events|sort_queryset:'sort' %} 
                <div class="swiper-slide chronology__slide" data-id="{{ event.id }}">
                  <p class="chronology__slide-text">{{ event.date }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        <div class="swiper-button-next chronology__next-btn"></div>
      </div>
      {% for event in events|sort_queryset:'sort' %}
        <p class="chronology__fact body-text-l" data-id="{{ event.id }}">{{ event.description }}</p>
      {% endfor %}
    </section>
    <section class="chronology-description">
      <h2 class="chronology-description__subtitle title">В хронологической таблице единым списком указаны три типа дат:</h2>
      <ul class="chronology-description__facts">
        <li class="chronology-description__fact">
          <div class="chronology-description__fact-header">
            <span class="chronology-description__fact-number title">1</span>
            <h3 class="chronology-description__fact-title body-text-bold">Реальные исторические события</h3>
          </div>
          <p class="chronology-description__fact-text body-text chronology-description__fact-text_short">Реальные исторические
            события, которые либо упомянуты в романе, либо, хотя и не упомянуты, но имеют существенное значение для
            сюжета (например, день назначения А. Гитлера рейхсканцлером)</p>
          <button class="chronology-description__fact-btn body-text" type="button"></button>
        </li>
        <li class="chronology-description__fact">
          <div class="chronology-description__fact-header">
            <span class="chronology-description__fact-number title">2</span>
            <h3 class="chronology-description__fact-title body-text-bold">Романные события</h3>
          </div>
          <p class="chronology-description__fact-text body-text chronology-description__fact-text_short">Они указаны либо точной
            датой (промежутком времени), когда текст романа позволяет ее (его) однозначно определить (например, события
            последней главы 1 части происходят в День подарков, то есть 26 декабря 1944 года), либо приблизительным
            промежутком времени. В последнем случае такая дата выделена курсивом, и ее погрешность составляет несколько
            дней или недель, в зависимости от контекста. Например, Катье появилась у Бликеро осенью, в солнечный день;
            это не могло быть ранее 8 сентября 1944 года (день первого пуска ФАУ-2 по Лондону) и позднее конца октября
            1944 года, когда случилась упомянутое в I-14 падение ракеты на пусковую установку. Соответственно, это
            событие отнесено на конец сентября – начало октября 1944 года</p>
          <button class="chronology-description__fact-btn body-text" type="button">читать дальше</button>
        </li>
        <li class="chronology-description__fact">
          <div class="chronology-description__fact-header">
            <span class="chronology-description__fact-number title">3</span>
            <h3 class="chronology-description__fact-title body-text-bold">Христианские торжества и праздники в литургические годы 1944
              и 1945</h3>
          </div>
          <p class="chronology-description__fact-text body-text chronology-description__fact-text_short">Так как их частое
            упоминание в тексте и соотносимость романных событий с литургическим календарем не кажется случайным.<br>Для
            создания единой картины данные типы дат в таблице специально не выделяются</p>
          <button class="chronology-description__fact-btn body-text" type="button">читать дальше</button>
        </li>
      </ul>
    </section>
  </section>
{% endblock %}