{% extends 'base.html' %}
{% block title %}
  KEZVH
{% endblock %}
{% block content %}
  <section class="chapters-nav">
    <div class="search"></div><br><br>
    {% include 'includes/chapters.html' %}
    <h1 class="chapters-nav__title chapter-title">KEZVH</h1>
  </section>
  <section class="chapter chapter-4-kezvh">
    <div class="chapter-4-kezvh__article">
      <div class="chapter-4-kezvh__left-column">
        <h3 class="chapter-4-kezvh__name body-text-bold">Катье Боргесиус</h2>
        <a class="chapter-4-kezvh__link" href="#">Подробнее</a>
      </div>
      <div class="chapter-4-kezvh__text-content">
        {% for article in articles %}
          <h2 class="chapter-4-kezvh__title title-bold">{{article.name}}</h2>
          <p class="chapter-4-kezvh__text body-text">{{article.text|striptags|safe}}</p>
          {% if article.image %}
            <img class="chapter-2-3-notes__img" src="{{article.image.url}}" alt="{{article.name}}"
              data-bs-toggle="modal" data-bs-target="#image-modal-{{ article.pk }}">
            <div class="modal fade" id="image-modal-{{ article.pk }}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-body text-center p-0">
                    <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" class="modal-image">
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}