{% extends 'base.html' %}
{% load user_filters %}
{% load thumbnail %}
{% block title %}
  Комментарии
{% endblock %}
{% block content %}
  <section class="chapters-nav">
    <div class="search"></div><br><br>
    {% include 'includes/chapters.html' %}
    <h1 class="chapters-nav__title chapter-title">Комментарии</h1>
  </section>
  <section class="chapter chapter-2-3-notes">
    <div class="chapter-2-3-notes__content">
      <div class="accordion accordion-flush sidebar accordion-container" id="notesNav">
        {% for chapter in chapters|sort_queryset:'number' %}
          <div class="accordion-item">
            <button class="accordion-button collapsed chapter-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#noteNav-{{ chapter.number }}"
                aria-expanded="false" aria-controls="noteNav-{{ chapter.number }}"
                data-chapter-id="{{ chapter.id }}" data-view-page="summary">
              <div class="accordion-header">
                <div class="sidebar__icon"></div>
                <h2 class="sidebar__title title-bold">Глава {{ chapter.number }}</h2>
              </div>
              <p class="sidebar-subtitle body-text-bold">{{ chapter.description|striptags|safe }}</p>
            </button>
            <div id="noteNav-{{ chapter.number }}" class="accordion-collapse collapse">
              <ul class="accordion-body">
                <li>
                  <a class="sidebar__link body-text comment-link" href="#summary-{{ chapter.number }}">Краткое содержание главы</a>
                </li>
                <li>
                  <a class="sidebar__link body-text comment-link" href="#interpretation-{{ chapter.number }}">Комментарии</a>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
      <ul class="chapter-2-3-notes__list">
        <div id="comments-content">
          <div class="comments-container">
            {% if chapters.first.image %}
              <div class="chapter-3-image">
                {% thumbnail chapters.first.image "1300x400" as thumbnail %}
                  <img class="img-chapter img" src="{{ thumbnail.url }}" alt="{{ chapters.first.image.alt }}">
                {% endthumbnail %}
              </div>
            {% endif %}
            <br>
            <li id="chapter-content-{{ chapters.first.number }}" class="chapter-2-3-notes__item">
              <div id="summary-{{ chapters.first.number }}">
                <p class="chapter-2-3-notes__text body-text">{{ chapters.first.pov|safe }}</p>
                <br>
                <div class="chapter-2-3-notes__header">
                  <h2 class="chapter-2-3-notes__title title-bold">Краткое содержание главы {{ chapters.first.number }}</h2><br>
                </div>
                <div class="chapter-2-3-notes__text-content">
                  <p class="chapter-2-3-notes__text body-text">{{ chapters.first.summary|safe }}</p>
                </div>
              </div>
              <br><br>
              <div id="interpretation-{{ chapters.first.number}}">
                <div class="chapter-2-3-notes__header">
                  <h2 class="chapter-2-3-notes__title title-bold">Комментарии к главе {{ chapters.first.number }}</h2><br>
                </div>
                <div class="chapter-2-3-notes__text-content">
                  <p class="chapter-2-3-notes__text body-text">{{ chapters.first.interpretation|safe }}</p>
                </div>
              </div>
            </li>
          </div>
        </div>
        <div class="chapter-navigation">
          <button id="prev-chapter" class="btn custom-button prev-chapter">Пред. глава</button>
          <button id="next-chapter" class="btn custom-button prev-chapter">След. глава</button>
        </div>
      </ul>
    </div>
  </section>
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const links = document.querySelectorAll('.sidebar__link');
      const blocks = document.querySelectorAll('.chapter-2-3-notes__item');
      const nav = document.querySelector('.chapters-nav');
      const chapterNav = document.querySelector('.chapter-navigation');
      const sidebar = document.querySelector('.sidebar');
      const text = document.querySelector('.chapter-2-3-notes__description');
      const bookBtn = document.querySelector('.header__book');

      const isMobileScreen = () => {
        return window.innerWidth <= 768;
      };

      links.forEach(link => {
        link.addEventListener('click', (event) => {
          if (!isMobileScreen()) return;

          event.preventDefault();

          const targetId = event.target.getAttribute('href').substring(1);  // Get the target block ID
          const targetBlock = document.getElementById(targetId);

          if (targetBlock) {
            blocks.forEach(block => {
              block.style.display = 'none';
            });

            targetBlock.style.display = 'flex';
          }

          sidebar.style.display = 'none';
          nav.style.display = 'none';
          text.style.display = 'none';
          chapterNav.style.display = 'none';
        });
      });

      bookBtn.addEventListener('click', () => {
        sidebar.style.display = 'flex';
        nav.style.display = 'flex';
        text.style.display = 'block';
        chapterNav.style.display = 'block';
        blocks.forEach(block => {
          block.style.display = 'none';
        });
      })

      window.addEventListener('resize', () => {
        if (!isMobileScreen()) {
          blocks.forEach(block => {
            block.style.display = 'flex';
          });
        } else {
          blocks.forEach(block => {
            block.style.display = 'none';
          });
        }
      });
    });
  </script> {% endcomment %}
{% endblock %}