{% extends 'base.html' %}
{% load static %}
{% block title %}
  Как перестать беспокоиться и начать читать роман
{% endblock  %}
{% block content %}
  <section class="chapters-nav">
    <div class="search"></div><br><br>
    {% include 'includes/chapters.html' %}
    <h1 class="chapters-nav__title chapter-title">Как перестать беспокоиться и начать читать роман</h1>
  </section>
  <section class="chapter chapter-1-how">
    {% for article in articles %}
      <div class="chapter-1-how__article">
        <h2 class="chapter-1-how__subtitle body-text-bold">{{article.name}}</h2>
        <p class="chapter-1-how__text body-text">{{article.text|safe|striptags}}</p>
      </div>
      <section class="bio bio_type_slider">
        <div class="bio__slider-container">
          <div class="swiper bio__slider-list">
            <div class="swiper-wrapper">
              <img class="swiper-slide bio__slider-photo" src="{% static 'img/Обложки_РТ1.jpg' %}" alt="обложка">
              <img class="swiper-slide bio__slider-photo" src="{% static 'img/Обложки_РТ2.jpg' %}" alt="обложка">
              <img class="swiper-slide bio__slider-photo" src="{% static 'img/Обложки_РТ3.jpg' %}" alt="обложка">
              <img class="swiper-slide bio__slider-photo" src="{% static 'img/Обложки_РТ4.jpg' %}" alt="обложка">
              <img class="swiper-slide bio__slider-photo" src="{% static 'img/Обложки_РТ5.jpg' %}" alt="обложка">
              <img class="swiper-slide bio__slider-photo" src="{% static 'img/Обложки_РТ6.jpg' %}" alt="обложка">
              <img class="swiper-slide bio__slider-photo" src="{% static 'img/Обложки_РТ7.jpg' %}" alt="обложка">
              <img class="swiper-slide bio__slider-photo" src="{% static 'img/Обложки_РТ8.jpg' %}" alt="обложка">
              <img class="swiper-slide bio__slider-photo" src="{% static 'img/Обложки_РТ9.jpg' %}" alt="обложка">
              <img class="swiper-slide bio__slider-photo" src="{% static 'img/Обложки_РТ10.jpg' %}" alt="обложка">
            </div>
          </div>
          <div class="swiper-button-next bio__slider-next-btn"></div>
          <div class="swiper-button-prev bio__slider-prev-btn"></div>
        </div>
      </section>
    {% endfor %}
    <div class="chapter-1-how__sign">
      <p class="chapter-1-how__text body-text"><span class="chapter-1-how__sign-span">Автор статьи:</span><br>Андрей Н. И. Петров</p>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    // Настройки слайдера с обложками
    const swiper = new Swiper('.swiper', {
      slidesPerView: 'auto',
      spaceBetween: 16,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    })
  </script>
{% endblock %}