{% extends 'base.html' %}
{% load user_filters %}
{% load thumbnail %}
{% block title %}
  Комментарии
{% endblock %}
{% block content %}
  <section class="chapters-nav">
    <div class="search"></div><br><br>
    {% include 'includes/chapters.html' %}
    <h1 class="chapters-nav__title chapter-title">Комментарии</h1>
  </section>
  <section class="chapter chapter-2-3-notes">
    <div class="chapter-2-3-notes__content">
      <div class="accordion accordion-flush sidebar" id="notesNav">
        {% for chapter in chapters|sort_queryset:'number' %}
          <div class="accordion-item">
            <button class="accordion-button collapsed chapter-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#noteNav-{{ chapter.number }}"
                aria-expanded="false" aria-controls="noteNav-{{ chapter.number }}"
                data-chapter-id="{{ chapter.id }}" data-view-page="summary">
              <div class="accordion-header">
                <div class="sidebar__icon"></div>
                <h2 class="sidebar__title title-bold">Глава {{ chapter.number }}</h2>
              </div>
              <p class="sidebar-subtitle body-text-bold">{{ chapter.description|striptags|safe }}</p>
            </button>
            <div id="noteNav-{{ chapter.number }}" class="accordion-collapse collapse">
              <ul class="accordion-body">
                <li>
                  <a class="sidebar__link body-text comment-link" href="#summary-{{ chapter.number }}">Краткое содержание главы</a>
                </li>
                <li>
                  <a class="sidebar__link body-text comment-link" href="#interpretation-{{ chapter.number }}">Комментарии</a>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="chapter-2-3-notes__list">
        <div id="comments-content">
          <div class="comments-container">
            {% if start_chapter.image %}
              <div class="chapter-3-image">
                {% thumbnail start_chapter.image "1300x400" as thumbnail %}
                  <img class="img-chapter img" src="{{ thumbnail.url }}" alt="{{ start_chapter.image.alt }}">
                {% endthumbnail %}
              </div>
            {% endif %}
            <br>
            <div id="chapter-content-{{ start_chapter.number }}" class="chapter-2-3-notes__item">
              <div id="summary-{{ start_chapter.number }}">
                <div class="chapter-2-3-notes__header">
                  <h2 class="chapter-2-3-notes__title title-bold">Краткое содержание главы {{ start_chapter.number }}</h2><br>
                </div>
                <div class="chapter-2-3-notes__text-content">
                  <p class="chapter-2-3-notes__text body-text">{{ start_chapter.summary|safe }}</p>
                </div>
              </div>
              <div id="interpretation-{{ start_chapter.number}}">
                <div class="chapter-2-3-notes__header">
                  <h2 class="chapter-2-3-notes__title title-bold">Комментарии к главе {{ start_chapter.number }}</h2><br>
                </div>
                <div class="chapter-2-3-notes__text-content">
                  <p class="chapter-2-3-notes__text body-text">{{ start_chapter.interpretation|safe }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chapter-navigation">
          <button id="prev-chapter" class="btn custom-button prev-chapter">Предыдущая глава</button>
          <button id="next-chapter" class="btn custom-button prev-chapter">Следующая глава</button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}