{% extends 'base.html' %}
{% block title %}Хронология радуги тяготения{% endblock %}
{% block content %}
    <article>
        <h1>Предварительные замечания</h1>
        <hr/>
        <p>В хронологической таблице единым списком указаны три типа дат:</p>
        <p>
            1. Реальные исторические события, которые либо упомянуты в романе, либо,
            хотя и не упомянуты, но имеют существенное значение для сюжета (например,
            день назначения А. Гитлера рейхсканцлером);
        </p>
        <p>
            2. Романные события – они указаны либо точной датой (промежутком времени),
            когда текст романа позволяет ее (его) однозначно определить (например,
            события последней главы 1 части происходят в День подарков, то есть 26
            декабря 1944 года), либо приблизительным промежутком времени. В последнем
            случае такая дата выделена курсивом, и ее погрешность составляет несколько
            дней или недель, в зависимости от контекста. Например, Катье появилась у
            Бликеро осенью, в солнечный день; это не могло быть ранее 8 сентября 1944
            года (день первого пуска ФАУ-2 по Лондону) и позднее конца октября 1944
            года, когда случилась упомянутое в I-14 падение ракеты на пусковую
            установку. Соответственно, это событие отнесено на конец сентября – начало
            октября 1944 года;
        </p>
        <p>
            3. Христианские торжества и праздники в литургические годы 1944 и 1945, так
            как их частое упоминание в тексте и соотносимость романных событий с теми
            или иными днями литургического календаря вряд ли можно считать простой
            случайностью.
        </p>
        <p>
            Для создания единой картины каждый из вышеупомянутых типов дат в таблице
            специально не выделяется.
        </p>
        <p>
            При всем огромном уважении к масштабному, скрупулезному и информативному
            труду Стивена Вайзенбургера, в части хронологии в нем нередко содержится
            информация, основанная не на буквальном толковании текста, а, скорее, на его
            логике. Так, Вайзенбургер «привязывает» некоторые даты похождения Ленитропа
            в северной Германии в III части романа к атомной бомбардировке Хиросимы. Это
            кажется весьма спорным, так как текст (в частности, указания на фазы Луны)
            позволяет датировать ряд событий неделей ранее, чем то представлено у
            Вайзенбургера (см. комментарий к стр. _________). Другой пример –
            Вайзенбургер пять раз сообщает о том, что основное действие романа
            завершается 14 сентября 1945 года, когда Шварцкоммандо доставили ракету
            00001 на Люнебургскую пустошь. Хотя из текста недвусмысленно следует, что
            это событие действительно случилось в сентябре, прямого указания на дату
            нет. Вайзенбургер, руководствуясь литургическим календарем, считает, что
            доставка должна была произойти в христианский Праздник Воздвижения Креста
            Господня, то есть 14 сентября. Иного аргумента у него нет. Является ли
            имеющийся достаточно убедительным, решать каждому читателю, но не следует
            этот вывод принимать за абсолютную истину (в Википедии окончание действия
            романа приходится именно на 14 сентября 1945 года).
        </p>
    </article>
    <hr/>
    <h2>Хронологическая таблица</h2>
    <table class="table">
        <tr class="table__row">
            {% for row in rows %}
                <td class="table__cell">
                    <p class="table__text"> {{ row.date }} </p>
                </td>
                <td class="table__cell">
                    <p class="table__text"> {{ row.description }} </p>
                </td>
                </tr>
            {% endfor %}
        {% comment %}
            <tr class="table__row">
                <td class="table__cell">
                    <p class="table__text"> Дата </p>
                </td>
                <td class="table__cell">
                    <p class="table__text"> Событие </p>
                </td>
            </tr> {% endcomment %}
        {% comment %}
            <tr class="table__row">
                <td class="table__cell">
                    <p class="table__text">1630</p>
                </td>
                <td class="table__cell">
                    <p class="table__text">Корабль «Арбелла», на котором служит Уильям Ленитроп, пребывает в
                        бостонскую гавань</p>
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <p class="table__text">1634-1635</p>
                </td>
                <td class="table__cell">
                    <p class="table__text">Уильям Ленитроп вместе с сыном Джоном уходит жить в Беркшир</p>
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <p class="table__text">1645-1658</p>
                </td>
                <td class="table__cell">
                    <p class="table__text">Франс ван дер Нарез на о. Маврикий разводит свиней и убивает додо.</p>
                </td>
            </tr> {% endcomment %}
    </table>

{% endblock %}
