{% extends 'base.html' %}
{% block title %}Двойничество Катье{% endblock %}
{% block content %}
    <a href="{% url 'wiki:rainbow_part4' %}">&#8592; Вернуться к разделу 4</a>
    <article>
        <h1>Двойничество Катье</h1>
        <p>В «Радуге тяготения» каждый персонаж в большей или меньшей степени является
            отражением второго, третьего, четвертого, двадцатого и так практически до
            бесконечности. В одной крайности эти отражения таковы, что персонажи сливаются
            в один, и разгадать их двойничество не так-то просто: капитан Бликеро,
            лейтенант Вайссман и майор Вайссман выглядят как одно лицо, но так ли оно на
            самом деле? В крайности другой – небольшое совпадение представляется простой
            случайностью – ну прячет и Апереткин, и Стрелман свои сигареты во внутреннем
            кармане халата, а что еще между ними общего?</p>
        <p>Рассмотрим на примере Катье
            Боргесиус, как Пинчон множит двойников.</p>
        <p>Первый и самый очевидный двойник – это
            Готтфрид. Катье видит в нем собственное отражение, Бликеро называет его
            «дубль-генгером» и братом Катье, имея в виду игру в «Гензель и Гретель». При
            этом: «- Быть может, - говорит он, - я обрежу тебе волосы. – Улыбается
            Готтфриду. – Быть может, его заставлю отрастить». Сексуальные роли в сказочной
            игре переворачиваются: Готтфрид становится девочкой, а Катье всего лишь
            наблюдает за их совокуплением.</p>
        <p>Готтфрид, в свою очередь, - это северный
            двойник южного любовника Бликеро, гереро Энциана. Он – «странная
            противоположность африканцу – цветной негатив, желтый и голубой… Зеркальная
            метафизика». Отражаясь в Готтфриде, Катье отражается и в Энциане. Их встреча в
            IV-4 подчеркивает это двойничество: они одновременно – и бывшие любовники
            Бликеро, и опустошенные им (или его идеалами) люди, с той разницей, что Катье
            обрела свободу, а Энциан утратил человечность.</p>
        <p>Готтфрид похож на Катье как
            брат, но у Катье есть и родной брат Луи, который в 18 лет ушел из дома и
            вступил в бельгийскую фашистскую партию. Как и Готтфрид с Энцианом, он
            является гомосексуалистом, и со своим любовником Филиппом образует прекрасную
            королевскую пару Луи-Филипп (отражающуюся в аргентинских анархистах Лус и
            Фелипе).</p>
        <p>Когда в IV части Катье приходит к своему двойнику Энциану, она
            узнает, что в Шварцкоммандо ее почитают как воплощение Белой женщины,
            изображенной на скалах пустыни Калахари. Это гереро-германское мифическое
            существо пугало не только Ленитропа – Готтфриду во снах приходила «очень
            бледная женщина… знаменитость, которую все узнают с первого раза», в которой
            угадывается актриса Грета Эрдман в образе Шхины, топившая в темном пруду
            Дур-Кармы белокурых (как Готтфрид и Филипп) мальчиков. Эрдман, как и Катье –
            это инкарнация Белой женщины, и посредством этой общности она также обращается
            в двойника. Под руку с Танатцем она идет к Бликеро в Пустошь, как те же
            Гретель и Гензель, и сам Бликеро по ошибке или нет называет Грету Катье
            (стр.487). Через Грету лежит путь к еще одному белокурому двойнику - Бьянке
            Эрдман, а через нее – и ко всем девочкам, яростно зачатым после просмотра
            «Alpdrücken», как была зачата Ильзе Пёклер.</p>
        <p>Но и это еще не все. Катье
            Боргесиус – это второй из двух персонажей «Радуги», предки которых фигурируют
            на страницах романа; первый – это, разумеется, Эния Ленитроп. И вот интересная
            штука: и Уильям Ленитроп, и Франс ван дер Нарез отправляются морем из своего
            родного края, один в Северную Америку, другой – на Маврикий, чтобы разводить
            свиней. У обоих затея не выгорает, и оба возвращаются обратно (один – бросив
            семена в новую почву, второй – нет). Совпадения на этом не заканчиваются.
            Пинчон очень подробно описывает наряды Катье, от «старого платья, черный муар,
            ниже колена, на размер больше, убогонькое», в котором она уходит от Бликеро,
            до «просто белого платья, теннисного, еще довоенных лет», в котором она на
            велосипеде приезжает в Шварцкоммандо (обратите внимание на черно-белое
            сочетание цветов, не оставляющее девушку всю книгу). Среди них - свободное
            шелковое платье цвета какао; длинное и обтягивающее платье рельефного бархата,
            винного цвета; черное бомбазиновое платье до колен; длинное платье Медичи из
            бархата цвета морской волны; белая ротонда, в блестках, с подкладными плечами,
            зазубренные перья страуса у выреза шеи и запястий. Одежда других персонажей не
            удостаивается столь значительного внимания Пинчона, кроме – Энии Ленитропа.
            Причем, определенная одежда Ленитропа всегда соответствует одному из его
            меняющихся образов: ультрамодный подаренный Свиристелем Блоджетом костюм зут –
            это оболочка английского корреспондента Ника Шлакобери, шлем викинга с
            отломанными рогами, сапоги и плащ – личина Ракетмена, строгий черный смокинг –
            униформа немецкого актера Макса Шлепциха и т.д. У Катье нет столь строго
            соответствия, однако этот персонаж меняется так же часто, как и Ленитроп. Она
            – то член НСД, сдавшая гестапо три «криптоеврейские» семьи, то голландская
            подпольщица, то «случайная» жертва осьминога, то Домина Ноктурна, то
            Гретель/Гензель и, неминуемо, предательница, попадающая наряду с Апереткиным в
            комфортный пинчоновский ад. Как и Ленитроп, она распалась, только, в отличие
            от него, не внешне, а внутренне, и не в конце романа, а в самом его начале
            (будучи только вывезенной Апереткиным из Голландии «в себе самой… она –
            разложение и прах, ей место в Печи…»).</p>
        <p>Связь с Апереткиным – это мостик к еще
            нескольким двойничествам – к его возлюбленной Скорпии Мохлун, а через нее – к
            ее более юному воплощению, возлюбленной Роджера Мехико Джессике Одетт.</p>
    </article>
{% endblock %}
