{% extends 'base.html' %}
{% load static %}
{% block title %}
  Главная
{% endblock %}
{% block content %}
  <section class="promo">
    <div class="promo__title-box">Радуга тяготения</div>
    <p class="promo__text title">Перед вами интерактивный справочник, разбирающий почти каждое предложение 800-страничного романа, к которому можно обращаться на любом этапе чтения и перечитывания. В нем есть примечания, хронология, персонажи и многое другое; как им пользоваться, вы можете прочитать <a href="{% url "wiki:about-project" %}">здесь.</a> </p>
    <div class="promo__circle"></div>
    <div class="promo__rocket"></div>
  </section>
  <section class="chapters">
    <div class="chapters__dark">
      <div class="chapter-preview chapter-preview_dark">
        <div class="chapter-preview__content">
          <div class="chapter-preview__overlay chapter-preview__overlay_dark"></div>
          <div class="chapter-preview__header">
            <a class="chapter-preview__title chapter-title" href="{% url 'wiki:rainbow_part1'%}">Раздел 1</a>
            <h2 class="chapter-preview__subtitle title-bold">Как перестать беспокоиться и начать читать роман</h2>
          </div>
          <p class="chapter-preview__text body-text">Собраны обзорные материалы о творчестве Т. Пинчона, рекомендуемые к прочтению в любой момент. Среди них – статья Андрея Н. И. Петрова о достоинствах «Радуги тяготения», из которой вы узнаете, зачем тратить на роман несколько месяцев своей жизни; статья Станислава Распеченко о наилучшей последовательности чтения книг Пинчона, с кратким обзором их содержания. Если после этих статей вы немедленно не взяли в руки «Радугу», скорее всего, наш сайт не для вас.</p>
          <a class="chapter-preview__link" href="{% url 'wiki:rainbow_part1'%}">Читать</a>
        </div>
        <img class="tentacle tentacle1" src="{% static 'img/tentacle1.png' %}" alt="фон">
      </div>
      <div class="chapter-preview chapter-preview_dark">
        <span id="value" class="chapter-preview__counter chapter-title">00000</span>
        <div class="chapter-preview__content chapter-preview__content_right">
          <div class="chapter-preview__overlay chapter-preview__overlay_dark"></div>
          <div class="chapter-preview__header">
            <a class="chapter-preview__title chapter-title" href="{% url 'wiki:rainbow_part2'%}">Раздел 2</a>
            <h2 class="chapter-preview__subtitle title-bold">Примечания</h2>
          </div>
          <p class="chapter-preview__text body-text">Постраничные примечания к роману, объясняющие значения малоупотребимых слов и выражений, содержащие справки об исторических личностях и событиях, о произведениях искусства, математических формулах и т.п. Рекомендуется к прочтению параллельно с чтением романа. Здесь нет никаких спойлеров. Примечания мы делали, дабы вы меньше блуждали по просторам интернета в поисках нужной информации.</p>
          <a class="chapter-preview__link" href="{% url 'wiki:rainbow_part2'%}">Читать</a>
        </div>
        <img class=" tentacle tentacle2" src="{% static 'img/tentacle2.png' %}" alt="фон">
      </div>
      <div class="chapter-preview chapter-preview_dark">
        <div class="chapter-preview__content">
          <div class="chapter-preview__overlay chapter-preview__overlay_dark"></div>
          <div class="chapter-preview__header">
            <a class="chapter-preview__title chapter-title" href="{% url 'wiki:rainbow_part3'%}">Раздел 3</a>
            <h2 class="chapter-preview__subtitle title-bold">Комментарии</h2>
          </div>
          <p class="chapter-preview__text body-text">Первая часть комментария состоит из краткого содержания главы романа — для тех, кто хочет упорядочить свой нарратив. Вторая часть — из потока сознания тайного литературоведа Михаила Монастырева (которого подчас поправляют его внимательные коллеги) о том, что происходит в главе и как это связано со всем предыдущим. Рекомендуется к прочтению после каждой главы, дабы сопоставить свои соображения о книге с нашими. Не удивляйтесь, если никакого совпадения не случится.</p>
          <a class="chapter-preview__link" href="{% url 'wiki:rainbow_part3'%}">Читать</a>
        </div>
        <img class="tentacle tentacle3" src="{% static 'img/tentacle3.png' %}" alt="фон">
      </div>
    </div>
    <div class="chapters__light">
      <div class="chapter-preview">
        <div class="chapter-preview__content chapter-preview__content_right">
          <div class="chapter-preview__overlay"></div>
          <div class="chapter-preview__header">
            <a class="chapter-preview__title chapter-title" href="{% url 'wiki:rainbow_part4'%}">Раздел 4</a>
            <h2 class="chapter-preview__subtitle title-bold">KEZVH - Статьи</h2>
          </div>
          <p class="chapter-preview__text body-text">Само название говорит о том, что этот раздел для тех, кто уже прочитал роман. Здесь собраны статьи, соображения, мыслеобразы и некоторые справочные материалы о ключевых и поначалу вроде бы неочевидных темах романа — о странных ученых, изобретших странные вещества и странные материалы; о корпорациях; о кинофильмах; о таро и о многом другом. Больше спойлеров хороших и разных.</p>
          <a class="chapter-preview__link" href="{% url 'wiki:rainbow_part4'%}">Читать</a>
        </div>
        <img class="tentacle tentacle4" src="{% static 'img/tentacle4.png' %}" alt="фон">
      </div>
      <div class="chapter-preview">
        <div class="chapter-preview__content">
          <div class="chapter-preview__overlay"></div>
          <div class="chapter-preview__header">
            <a class="chapter-preview__title chapter-title" href="{% url 'wiki:rainbow_part5'%}">Раздел 5</a>
            <h2 class="chapter-preview__subtitle title-bold">Хронология</h2>
          </div>
          <p class="chapter-preview__text body-text">Все события романа представлены в табличной форме и строгой линейной хронологической последовательности. Надеемся, что мы ничего не забыли. Рекомендуется к прочтению только после окончания чтения книги, ибо тут сосредоточение всех мыслимых и немыслимых спойлеров.</p>
          <a class="chapter-preview__link" href="{% url 'wiki:rainbow_part5'%}">Читать</a>
        </div>
        <img class="tentacle tentacle5" src="{% static 'img/tentacle5.png' %}" alt="фон">
      </div>
      <div class="chapter-preview">
        <div class="chapter-preview__overlay"></div>
        <img class="chapter-preview__image" src="{% static 'img/lady.png' %}" alt="персонаж">
        <div class="chapter-preview__content chapter-preview__content_right">
          <div class="chapter-preview__header">
            <a class="chapter-preview__title chapter-title" href="{% url 'wiki:rainbow_part6'%}">Раздел 6</a>
            <h2 class="chapter-preview__subtitle title-bold">Персонажи</h2>
          </div>
          <p class="chapter-preview__text body-text">Все персонажи романа представлены в схематичной и табличной форме, с их оригинальными английскими именами, краткими характеристиками, портретами, связями и постраничными упоминаниями (с соблюдением требований законодательства о персональных данных). Если вы не хотите заранее знать, кто чей брат (сестра) или кто с кем сольется-таки в экстазе, лучше сюда не заходить. Мы вас предупредили. Также в этом разделе есть карта романа – и тоже со всевозможными спойлерами.</p>
          <a class="chapter-preview__link" href="{% url 'wiki:rainbow_part6'%}">Читать</a>
        </div>
      </div>
      <div class="chapter-preview">
        <div class="chapter-preview__content">
          <div class="chapter-preview__overlay"></div>
          <div class="chapter-preview__header">
            <a class="chapter-preview__title chapter-title" href="{% url 'wiki:rainbow_part7'%}">Раздел 7</a>
            <h2 class="chapter-preview__subtitle title-bold">Разбор романа</h2>
          </div>
          <p class="chapter-preview__text body-text">Статья ведущего пинчоноведа и телеграфиста «Радуги спойлерения» Станислава Распеченко о том, что все это значило и как теперь с этим жить дальше. Рекомендуется к прочтению после того, как вы дойдете до слов «Теперь все вместе…» и вам захочется незамедлительно вернуться к первой странице.</p>
          <a class="chapter-preview__link" href="{% url 'wiki:rainbow_part7'%}">Читать</a>
        </div>
        <img class="tentacle tentacle6" src="{% static 'img/tentacle6.png' %}" alt="фон">
      </div>
    </div>
  </section>
{% endblock %}