{% extends 'base.html' %}
{% load static %}
{% block title %}
  Новости
{% endblock %}
{% block content %}
  <section class="about-nav">
    <ul class="about-nav__links">
      <li class="about-nav__link-item">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:about-project' %}">Описание</a>
      </li>
      <li class="about-nav__link-item">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:creators' %}">Авторы</a>
      </li>
      <li class="about-nav__link-item">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:contacts' %}">Контакты</a>
      </li>
      <li class="about-nav__link-item about-nav__link-item_active">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:news' %}">Новости</a>
      </li>
    </ul>
    <h1 class="about-nav__title chapter-title">Новости</h1>
  </section>
  <section>

  </section>
{% endblock %}