{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% block title %}
  Новости
{% endblock %}
{% block content %}
<section class="article">
  <a href="{% url 'wiki:news' %}" class="article__nav">
    <div class="article__nav-arrow">&#60;</div>
    <p class="article__nav-link body-text">назад к новостям</p>
  </a>
  <div class="news-page">
    <div class="news-page__header">
      <h1 class="news-page__title chapter-title">{{ article.name }}</h1>
      <p class="news-page__date body-text">{{article.date|date:"d"}} {{article.date|date:"m"|month_genitive}} {{article.date|date:"Y"}}</p>
    </div>
    {% if article.image %}
      <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" class="news-page__image">
    {% endif %}
    <p class="news-page__text body-text">{{ article.text|safe }}</p>
  </div>
</section>
{% endblock %}