{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% block title %}
  Новости
{% endblock %}
{% block content %}
  <section class="about-nav">
    <ul class="about-nav__links">
      <li class="about-nav__link-item">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:about-project' %}">Описание</a>
      </li>
      <li class="about-nav__link-item">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:creators' %}">Авторы</a>
      </li>
      <li class="about-nav__link-item">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:contacts' %}">Контакты</a>
      </li>
      <li class="about-nav__link-item about-nav__link-item_active">
        <a class="about-nav__link body-text-l" href="{% url 'wiki:news' %}">Новости</a>
      </li>
    </ul>
    <h1 class="about-nav__title chapter-title">Новости</h1>
  </section>
  <section class="news">
    {% comment %}
    <nav class="news__filters">
      <button type="button" class="news__filter body-text active">Все</button>
      <button type="button" class="news__filter body-text">Мероприятия</button>
      <button type="button" class="news__filter body-text">Отчеты</button>
      <button type="button" class="news__filter body-text">Фотоотчеты</button>
    </nav> {% endcomment %}
    <ul class="news__list">
      {% for article in articles %}
        <li class="news__item">
          <a href="{% url "wiki:news_detail" article.pk %}" class="news__item-link" target="_blank">
            <div class="news__image-placeholder">
              {% if article.image %}
                <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" class="news__image">
              {% endif %}
            </div>
            <div class="news__date">
              <p class="news__date-day">{{article.date|date:"d"}}</p>
              <p class="news__date-month body-text">{{article.date|date:"m"|month_genitive}}</p>
              <p class="news__date-year body-text">{{article.date|date:"Y"}}</p>          
            </div>
            <div class="news__content">
              <h2 class="news__title title-bold">{{ article.name }}</h2>
              <p class="news__preview body-text">{{ article.text|safe|striptags|truncatechars:200 }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}