{% extends 'base.html' %}
{% load static %}
{% block title %}
  Другие книги
{% endblock %}
{% block content %}
  <section class="other-books">
    <h1 class="other-books__title chapter-title">Романы Томаса Пинчона</h1>
    <div class="other-books__content">
      <ul class="other-books__sidebar">
        <li class="other-books__item">
          <a class="other-books__book-link title-bold" href="#">V</a>
        </li>
        {% comment %} <li class="other-books__item">
          <a class="other-books__book-link title-bold" href="#">Выкрикивается лот 49</a>
        </li>
        <li class="other-books__item">
          <a class="other-books__book-link title-bold book-link" href="#">Вайнленд</a>
        </li>
        <li class="other-books__item">
          <a class="other-books__book-link title-bold" href="#">Майсон и Диксон</a>
        </li>
        <li class="other-books__item">
          <a class="other-books__book-link title-bold" href="#">На день погребения моего</a>
        </li>
        <li class="other-books__item">
          <a class="other-books__book-link title-bold" href="#">Внутренний порок</a>
        </li>
        <li class="other-books__item">
          <a class="other-books__book-link title-bold" href="#">Край на вылет</a>
        </li> {% endcomment %}
      </ul>
      <div class="other-books__description">
        <p class="other-books__text body-text">Постмодернистский роман 1990 года Томаса Пинчона, действие которого разворачивается в 1984 году, в Калифорнии, в год переизбрания Рональда Рейгана. Через воспоминания персонажей, чья молодость пришлась на 60-е, роман раскрывает тему репрессий Никсона и борьбы с наркотиками, показывая изменения в американской культуре с 1960 по 1980 годы.<br>
        Вайнленд, центральное место действия, вымышленный городок в Калифорнии, Долине Андерсона, возможно основан на Бунвиле. «Вайнленд» может быть игрой слов на Голливуд, отсылкой к первому поселению викингов в Северной Америке, или намеком на Андрея Винлендера, персонажа Владимира Набокова из «Ады». Согласно другому мнению, название позаимствовано у города Вайнленд в Нью-Джерси, или «Vinland the Good» из поэмы Фрэнка О`Хары. В любом случае самая очевидная ассоциация с названием относится к виноградарскому региону Wine Country в Калифорнии.</p>
        <button class="other-books__btn">Смотреть все издания</button>
      </div>
    </div>
  </section>
  <div class="covers-popup">
    <div class="swiper covers-popup__slider">
      <div class="swiper-wrapper covers-popup__wrapper">
        <img class="swiper-slide covers-popup__slider-photo" src="{% static 'img/cover-v.jpg' %}" alt="обложка">
        <img class="swiper-slide covers-popup__slider-photo" src="{% static 'img/cover-v-2.jpg' %}" alt="обложка">
        <img class="swiper-slide covers-popup__slider-photo" src="{% static 'img/cover-v-3.jpg' %}" alt="обложка">
      </div>
      <div class="swiper-pagination covers-popup__pagination"></div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    // Настройки слайдера с обложками
    const swiper = new Swiper('.swiper', {
      effect: 'coverflow',
      grabCursor: true,
      slidesPerView: 3,
      spaceBetween: 0,
      centeredSlides: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      coverflowEffect: {
        rotate: 0,
        scale: 0.7,
      }
    })

    // Открытие и закрытие попапа с обложками
    const showBtn = document.querySelector('.other-books__btn');
    const coversPopup = document.querySelector('.covers-popup');
    
    showBtn.addEventListener('click', function() {
      coversPopup.classList.add('covers-popup_opened');
      document.addEventListener('keydown', closeCoversPopupEsc)
    })

    function closeCoversPopup() {
      coversPopup.classList.remove('covers-popup_opened');
      document.removeEventListener('keydown', closeCoversPopupEsc)
    }

    function closeCoversPopupEsc(evt) {
      if (evt.key === 'Escape') {
        const openedPopup = document.querySelector('.covers-popup_opened');
        closeCoversPopup(openedPopup);
      }
    }

    coversPopup.addEventListener('mousedown', function(evt) {
      if (evt.target.classList.contains('covers-popup_opened')) {
        closeCoversPopup();
      }
    })
  </script>
{% endblock %}