{% extends 'base.html' %}
{% block title %} {{ book.name }} {% endblock %}
{% block content %}
{% load user_filters %}
    <div class="container">
        <br>
        <h1 id='rainbow_part2'>Раздел 2: примечания к каждой главе</h1>
        <br>
        {% for chapter in chapters|sort_queryset:'number' %}
            <p>
                <a href="{% url 'wiki:rainbow_notes' chapter.number %}">
                    Глава {{ chapter.pages }} {{ chapter.number }} {{ chapter.description|striptags|safe }} ...
                </a>
                {% if chapter.image %}
                    {{ chapter.get_image }}
                {% endif %}
            </p>
        {% endfor %}
        <hr>
    </div>
{% endblock %}