{% extends 'base.html' %}
{% block title %}Комментарии к главе {{ chapter }} {% endblock %}
{% block content %}
<article style="position: relative; height: auto; margin-bottom: 10px;">
  <div style="display: flex;">
    <div style="flex: 1; margin-right: 70px;">
        {% for chapter in chapters %}
            <a href="{% url 'wiki:rainbow_comments' chapter.number %}">Глава {{ chapter }}</a>,
        {% endfor %}
        <hr>
        <h1>Комментарии к главе {{ chapter }}</h1>
        <p><a href='#summary'>Краткое содержание главы</a></p>
        <p><a href='#interpretation'>Комментарии</a></p>

        <h2 id='summary'>Краткое содержание главы {{ chapter }}</h2>
        <p>{{ chapter.summary|safe }}</p>
        <hr>
        <h2 id='interpretation'> Комментарии к главе {{ chapter }}</h2>
        <p>{{ chapter.interpretation|safe }}</p>
        <hr>
        <p>
            {% if chapter.links %}
                <h2> Полезные ссылки к главе {{ chapter }}</h2>
                <a href="{{ chapter.links }}">{{ chapter.links }}</a>
            {% endif %}
        </p>
    </div>
    {% include 'includes/image.html' %}
   </div>
</article>
{% endblock %}