{% extends 'base.html' %}
{% block title %}Хронология радуги тяготения{% endblock %}
{% block content %}
{% load user_filters %}
    <div class="container">
        <br>
        <h1>Раздел 5: хронология</h1>
        {% for article in articles %}
            <br>
            <h1>{{ article.name }}</h1>
            <p>{{ article|safe }}
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        <hr>
        {% include 'includes/form_search.html' %}
        <br>
        <h2>Хронологическая таблица</h2>
        <br>
        <table class="table">
                <tr class="table__row">
                    <td class="table__cell">
                        <p class="table__text"> Дата </p>
                    </td>
                    <td class="table__cell">
                        <p class="table__text"> Событие </p>
                    </td>
                </tr> 
                {% for row in rows|sort_queryset:'sort' %}
                    <td class="table__cell">
                        <p class="table__text"> {{ row.date }} </p>
                    </td>
                    <td class="table__cell">
                        <p class="table__text"> {{ row.description }} </p>
                    </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}
