{% extends 'base.html' %}
{% block title %}Примечания к главе {{chapter}} {% endblock %}
{% block content %}
    <div class="container">
      <a href="{% url 'wiki:rainbow_part2'%}">&#8592; Вернуться к списку глав</a> 
      <hr>
      {% for chapter in chapters %}
        <a href="{% url 'wiki:rainbow_notes' chapter.number %}">Глава {{chapter}}</a>
      {% endfor %}
      <hr>
        <h1>Примечания к главе {{chapter}}</h1>
        <p>
        {% for comment in comments %}
        <a href="#{{comment.order_number}}">□{{comment.origin_text}}□</a>   
        {% endfor %} </p>
        {% if chapter.image %}
            {{ chapter.get_image }}
        {% endif %}
        <hr>
        {% for comment in comments %}
          {% include 'includes/comment.html' %}
          <hr>
        {% endfor %}
        {% for chapter in chapters %}
          <a href="{% url 'wiki:rainbow_notes' chapter.number %}">Глава {{chapter}}</a>
        {% endfor %}
    </div>  
{% endblock %}