{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% block title %}Поиск{% endblock %}
{% block content %}
  <section class="chapters-nav">
    {% include 'includes/form_search.html' %}
    {% if book.pk == 2 %}
      {% include 'includes/v_chapters.html' %}
    {% else %}
      {% include 'includes/chapters.html' %}
    {% endif %}
  </section>
  <section class="chapter chapter-2-3-notes">
    <div class="container">
      <h3 class="chapter-2-3-notes__title title-bold">Результаты поиска по запросу "{{ q }}"</h3><br>
      <a class="btn custom-button" href="{% url 'wiki:search' book.id search_model %}?q={{ q }}">вернуться к общему списку</a><br><br>
      {% if model|class_name == 'Comment'  %}
        <h5>Примечания:</h5><br>
        {% for comment in object_list %}
          <div id="{{ comment.page_number_by_2012 }}_{{ comment.id }}">
            <div class="chapter-2-3-notes__header">
              <h2 class="chapter-2-3-notes__title title-bold">{{comment.name|search_highlight:q|safe}}</h2>
              <p class="chapter-2-3-notes__pages body-text">Стр.{{comment.page_number_by_2012}} /
                Стр.{{comment.page_number_by_2021}}</p><br>
            </div>
            <div class="chapter-2-3-notes__text-content">
              <p class="chapter-2-3-notes__text body-text">{{comment.comment_text|search_highlight:q|safe}}</p>
            </div>
            <br>
            {% if comment.image %}
              <img class="chapter-2-3-notes__img" src="{{comment.image.url}}" alt="{{comment.name}}"
                data-bs-toggle="modal" data-bs-target="#image-modal-{{ comment.pk }}">
              <div class="modal fade" id="image-modal-{{ comment.pk }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body text-center p-0">
                      <img src="{{ comment.image.url }}" alt="{{ comment.image.alt }}" class="modal-image">
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <br>
        {% endfor %}
      {% elif model|class_name == 'Chapter' %}
        <h5>Комментарии:</h5><br>
        <div class="comments-container">
        {% for chapter in object_list %}
          <br>
          <li id="chapter-content-{{ chapter.number }}" class="chapter-2-3-notes__item">
            <div id="summary-{{ chapter.number }}">
                <p class="chapter-2-3-notes__text body-text">{{ chapter.pov|search_highlight:q|safe }}</p><br>
              <div class="chapter-2-3-notes__header">
                <h2 class="chapter-2-3-notes__title title-bold">Краткое содержание главы {{ chapter.number }}</h2><br>
              </div>
              <div class="chapter-2-3-notes__text-content">
                <p class="chapter-2-3-notes__text body-text">..... {{ chapter.summary|search_highlight:q|custom_slice:q|safe|linebreaks }} .....</p>
              </div>
            </div>
            <div id="interpretation-{{ chapter.number}}">
              <div class="chapter-2-3-notes__header">
                <h2 class="chapter-2-3-notes__title title-bold">Комментарии к главе {{ chapter.number }}</h2><br>
              </div>
              <div class="chapter-2-3-notes__text-content">
                <p class="chapter-2-3-notes__text body-text">..... {{ chapter.interpretation|search_highlight:q|custom_slice:q|safe|linebreaks }} .....</p>
              </div>
            </div>
          </li> 
          <a href="{% url "wiki:rainbow_part3_detail" chapter.pk %}">Посмотреть полностью</a><br><br><br>
        {% endfor %}
        </div> 
      {% elif model|class_name == 'Article' and content == 'articles_1' %}
        <h5>Статьи:</h5><br>
        {% for article in object_list %}
          <h2 class="chapter-1-how__subtitle body-text-bold">{% if article.name %}{{ article.name|search_highlight:q|safe }}{% endif %}</h2><br>
          <p class="chapter-2-3-notes__text body-text">..... {{ article.text|search_highlight:q|striptags|custom_slice:q|safe }} .....</p><br>
          <a href="{% url "wiki:rainbow_part4_detail" article.pk %}">Посмотреть полностью</a>
          <br><br><br>
        {% endfor %}
      {% elif model|class_name == 'Article' and content == 'articles_4' %}
        <h5>Статьи:</h5><br>
        {% for article in object_list %}
          <h2 class="chapter-1-how__subtitle body-text-bold">{% if article.name %}{{ article.name|search_highlight:q|safe }}{% endif %}</h2><br>
          <p class="chapter-2-3-notes__text body-text">..... {{ article.text|search_highlight:q|striptags|custom_slice:q|safe }} .....</p><br>
          <a href="{% url "wiki:rainbow_part4_detail" article.pk %}">Посмотреть полностью</a>
          <br><br><br>
        {% endfor %}
      {% elif model|class_name == 'Article' and content == 'articles_7' %}
        <h5>Статьи:</h5><br>
        {% for article in object_list %}
          <h2 class="chapter-1-how__subtitle body-text-bold">{% if article.name %}{{ article.name|search_highlight:q|safe }}{% endif %}</h2><br>
          <p class="chapter-2-3-notes__text body-text">..... {{ article.text|search_highlight:q|striptags|custom_slice:q|safe }} .....</p><br>
          <a href="{% url "wiki:rainbow_part4_detail" article.pk %}">Посмотреть полностью</a>
          <br><br><br>
        {% endfor %}
      {% elif model|class_name == 'TableChronology' %}
        <h5>Хронология:</h5><br>
        <div class="container">
          <table class="table_characters_chronology">
            <tr class="table_characters_chronology__row">
              <td class="table_characters_chronology__cell">
                <p class="table_characters_chronology__text">Дата</p>
              </td>
              <td class="table_characters_chronology__cell">
                <p class="table_characters_chronology__text">Событие</p>
              </td>
            </tr>
            {% for row in content_list %}
              <tr class="table_characters_chronology__row">
                <td class="table_characters_chronology__cell">
                  <p class="table_characters_chronology__text"> {{ row.date|search_highlight:q|safe }} </p>
                </td>
                <td class="table_characters_chronology__cell">
                  <p class="table_characters_chronology__text"> {{ row.description|search_highlight:q|safe }} </p>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div><br>
      {% elif model|class_name == 'TableСharacters' %}
        <h5>Персонажи:</h5><br>
        <table class="table_characters_chronology">
          <tr class="table_characters_chronology__row">
            <td class="table_characters_chronology__cell">
              <p class="table_characters_chronology__text">Имя</p>
            </td>
            <td class="table_characters_chronology__cell">
              <p class="table_characters_chronology__text">Имя в оригинале и значение имени</p>
            </td>
            <td class="table_characters_chronology__cell">
              <p class="table_characters_chronology__text">Характеристика</p>
            </td>
            <td class="table_characters_chronology__cell">
              <p class="table_characters_chronology__text">Портрет</p>
            </td>
            <td class="table_characters_chronology__cell">
              <p class="table_characters_chronology__text">Группы</p>
            </td>
            <td class="table_characters_chronology__cell">
              <p class="table_characters_chronology__text">Упоминания</p>
            </td>
          </tr>
          {% for character in content_list %}
            {% if forloop.first %}
              <tr class="table_characters_chronology__row">
                <td class="table_characters_chronology__cell" colspan="6">
                  <h4 class="table_characters_chronology__text circle-name text-center">Круг {{ character.circle.name|search_highlight:q|safe }}</h4>
                </td>
              </tr>
            {% endif %}
            <tr class="table_characters_chronology__row">
              <td class="table_characters_chronology__cell">
                <h6 class="table_characters_chronology__text"> {{ character.name|search_highlight:q|safe }} </h6>
              </td>
              <td class="table_characters_chronology__cell">
                <p class="table_characters_chronology__text"> {{ character.value_name|search_highlight:q|safe }} </p>
              </td>
              <td class="table_characters_chronology__cell">
                <p class="table_characters_chronology__text"> {{ character.characteristics|search_highlight:q|safe }} </p>
              </td>
              <td class="table_characters_chronology__cell">
                <p class="table_characters_chronology__text"> {{ character.portrait|search_highlight:q|safe }} </p>
              </td>
              <td class="table_characters_chronology__cell">
                <p class="table_characters_chronology__text"> {{ character.groups }} </p>
              </td>
              <td class="table_characters_chronology__cell">
                <p class="table_characters_chronology__text"> {{ character.mentions }} </p>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
      {% include 'includes/paginator.html' %}
    </div>
  </section>
{% endblock %}