{% extends 'base.html' %}
{% load static %}
{% block title %}
  Как перестать беспокоиться и начать читать роман
{% endblock  %}
{% block content %}
  <section class="chapters-nav v">
    <div class="search"></div><br><br>
    {% include 'includes/v_chapters.html' %}
    <h1 class="chapters-nav__title chapter-title">Как перестать беспокоиться и начать читать роман</h1>
  </section>
  <section class="chapter chapter-4-kezvh">
    <div class="chapter-4-kezvh__article">
      <div class="chapter-4-kezvh__left-column"></div>
        <div class="chapter-4-kezvh__text-content">
          {% comment %} <p class="chapter-1-how__text body-text">Андрей Н. И. Петров</p>
          <a class="chapter-4-kezvh__title title-bold" href="{% url "wiki:v_article1" %}">Как перестать беспокоиться и начать читать "Радугу тяготения</a>
          <p class="chapter-4-kezvh__text body-text">Теперь все вместе: "По небу раскатился вой". Я расскажу, как перестать беспокоиться и начать читать "Радугу тяготения", зачем читателю 900 страниц хитроумных повествовательных техник, завернутых в слои отсылок к реалиям 40-х, и что делать, когда после прочтения роман оказался еще менее понятным</p>
          <a class="help_text" href="{% url "wiki:v_article1" %}">читать далее</a>
          <p class="chapter-1-how__text body-text">Станислав Распеченко</p>
          <a class="chapter-4-kezvh__title title-bold" href="{% url "wiki:v_article2" %}">Гид по Пинчону: Как подготовиться к "Радуге тяготения"</a>
          <p class="chapter-4-kezvh__text body-text">«Радугу Тяготения» Томаса Пинчона называют одним из самых сложных романов всех времен и народов. Но всегда можно начать с более простых книг автора. В этой статье я приведу несколько вариантов такой, своего рода, подготовки, а также, скажу пару слов о русских переводах</p>
          <a class="help_text" href="{% url "wiki:v_article2" %}">читать далее</a> {% endcomment %}
          {% for article in articles %}
            <div class="article_transform">
              {% if article.author_article %}<p class="chapter-1-how__text body-text">{{author_article}}</p>{% endif %}
              {% if article.name %}<h2 class="chapter-4-kezvh__title title-bold">{{article.name}}</h2><br>{% endif %}
              <p class="chapter-4-kezvh__text body-text">{{article.text|safe}}</p><br>
              {% if article.image %}
                <img class="chapter-2-3-notes__img" src="{{article.image.url}}" alt="{{article.name}}"
                  data-bs-toggle="modal" data-bs-target="#image-modal-{{ article.pk }}">
                <div class="modal fade" id="image-modal-{{ article.pk }}" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <div class="modal-body text-center p-0">
                        <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" class="modal-image">
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            <button class="chronology-description__fact-btn body-text" type="button" data-index="{{forloop.counter}}">читать дальше</button>
          {% endfor %}  
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script>
  const elements = document.querySelectorAll('.article_transform');
  const buttons = document.querySelectorAll('.chronology-description__fact-btn');
  
  buttons.forEach((button) => {
    let index = button.getAttribute('data-index') - 1;
    let element = elements[index];
  
    const moreText = 'читать далее';
    const lessText = 'свернуть';
  
    if (element.scrollHeight > 130) {
      button.style.display = 'block';
    }
  
    button.addEventListener('click', () => {
      if (button.textContent !== lessText) {
        element.style.height = 'auto';
        button.textContent = lessText;
      } else if (button.textContent === lessText) {
        element.style.height = '130px';
        button.textContent = moreText;
      }
    });
  });
</script>
{% endblock %}