{% extends 'base.html' %}
{% block title %}
  Персонажи
{% endblock %}
{% block content %}
  <section class="chapters-nav v">
    {% include 'includes/form_search.html' %}
    {% include 'includes/v_chapters.html' %}
    <h1 class="chapters-nav__title chapter-title">Персонажи</h1><br>
  </section>
  <section class="characters">
    <a class="characters__to-map-link body-text" href="{% url "wiki:v_part5" %}">Перейти к схеме</a>
    <div class="container">
      <div class="map-container">
        <iframe class="characters__google-map" src=""></iframe>
      </div>
    </div>
  </section>
{% endblock %}