{% extends 'base.html' %}
{% block title %}
  Статьи
{% endblock %}
{% block content %}
  <section class="chapters-nav v">
    {% include 'includes/form_search.html' %}
    {% include 'includes/v_chapters.html' %}
    <h1 class="chapters-nav__title chapter-title">Статьи</h1>
  </section>
  <section class="chapter chapter-4-kezvh">

    <ul class="articles v">
      {% for article in articles %}
      <li class="articles__article">
        <a href="{% url "wiki:v_part3_detail" article.pk %}" class="articles__link link">
          <div class="articles__info">
           <p class="articles__title title-bold">{{article.name}}</p>
           <p class="articles__author body-text">Автор: {{article.author_article}}</p>
         </div>
         <p class="articles__preview body-text">{{ article.text|safe|default_if_none:""|striptags|slice:":250" }}...</p>
        </a>
      </li>
      {% endfor %}
    </ul>

    {% comment %}
    <div class="chapter-4-kezvh__article">
      <div class="chapter-4-kezvh__left-column"></div>
      <div class="chapter-4-kezvh__text-content">
        {% for article in articles %}
          <div class="article_transform">
            {% if article.author_article %}<p class="chapter-1-how__text body-text">{{article.author_article}}</p><br>{% endif %}
            {% if article.name %}<a class="chapter-4-kezvh__title title-bold" target='_blank' href="{% url "wiki:v_part3_detail" article.pk %}">{{article.name}}</a><br>{% endif %}
            <p class="chapter-4-kezvh__text body-text">{{article.text|safe}}</p><br>
            {% if article.image %}
              <img class="chapter-2-3-notes__img" src="{{article.image.url}}" alt="{{article.name}}"
                data-bs-toggle="modal" data-bs-target="#image-modal-{{ article.pk }}">
              <div class="modal fade" id="image-modal-{{ article.pk }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body text-center p-0">
                      <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" class="modal-image">
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <button class="chronology-description__fact-btn body-text" type="button" data-index="{{forloop.counter}}">читать дальше</button>
        {% endfor %}  
        </div>
      </div>
    </div>
    {% endcomment %}

  </section>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  {% comment %}
  <script>
    const elements = document.querySelectorAll('.article_transform');
    const buttons = document.querySelectorAll('.chronology-description__fact-btn');
    
    buttons.forEach((button) => {
      let index = button.getAttribute('data-index') - 1;
      let element = elements[index];
    
      const moreText = 'читать далее';
      const lessText = 'свернуть';
    
      if (element.scrollHeight > 130) {
        button.style.display = 'block';
      }
    
      button.addEventListener('click', () => {
        if (button.textContent !== lessText) {
          element.style.height = 'auto';
          button.textContent = lessText;
        } else if (button.textContent === lessText) {
          element.style.height = '130px';
          button.textContent = moreText;
        }
      });
    });
  </script>
  {% endcomment %}
  
{% endblock %}