{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% block title %}
  Персонажи
{% endblock %}
{% block content %}
  <section class="chapters-nav v">
    {% include 'includes/form_search.html' %}
    {% include 'includes/v_chapters.html' %}
    <h1 class="chapters-nav__title chapter-title">Персонажи</h1><br>
  </section>
  <section class="characters v">
    <p class="characters__text title">Также в&nbsp;этом разделе есть карта романа&nbsp;&mdash; и&nbsp;тоже со&nbsp;всевозможными спойлерами</p>
    <a class="characters__to-map-link body-text" href="{% url 'wiki:v_part5_map' %}">Перейти к карте</a>
    {% comment %}
      <div class="characters__list-block">
        <ul class="characters__list">
          <li class="characters__item body-text">Семья</li>
          <li class="characters__item body-text">Секс</li>
          <li class="characters__item body-text">Дружба и помощь</li>
          <li class="characters__item body-text">Дела и работа</li>
          <li class="characters__item body-text">Потусторонние</li>
          <li class="characters__item body-text">Двойники</li>
          <li class="characters__item body-text">Уникальные</li>
        </ul>
      </div>
      <div class="container">
        <div id="image-container">
          <img id="image" src="{% static 'img/map.svg' %}" width="100%" rel="preload" as="image">
        </div>
        <div class="characters__zoom">
          <button id="zoom-in-button" type="button">+</button>
          <button id="zoom-out-button" type="button">-</button>
        </div>
      </div> 
    {% endcomment %}
    <p class="characters__description body-text">
      Как и в случае с «Радугой тяготения», Список персонажей «V.» можно изучать отдельно, а можно – параллельно со Схемой персонажей. Отличие состоит в том, что Схема появится на сайте сразу по персонажам всех глав романа, поэтому пока… есть только Список.<br><br>
      Круг – это группа персонажей, объединенная либо общим центральным персонажем, либо общими местом и временем действия (например, «Египет – 1898») или организацией (например, ВМФ США). При избрании центральных персонажей был избран критерий не только их значимости, но и количества непосредственно связанных с ними лиц.<br><br>
      Последовательность появления кругов в Списке следующая: сначала в соответствии с последовательностью повествования размещены круги персонажей сюжетной линии 50-х годов, потом, также в соответствии с последовательностью повествования размещены круги персонажей сюжетной линии V. (то есть с Египта 1898 года до Мальты середины 40-х).<br><br>
      Некоторые из героев помещены в тот или иной круг по весьма условной связи потому, что отнести их к какому-либо иному кругу невозможно, а образовать свой собственный круг они не могут в силу ограниченного присутствия в романе. К примеру, два сотрудника ЦРУ помещены в круг «Цельная больная шайка» из-за их связи с Обаяшем; в других местах романа эти персонажи не появляются. Все персонажи с подобными ослабленными связями выделены курсивом.<br><br>
      Если персонаж принадлежит к нескольким кругам, то такие дополнительные круги отмечены в столбце «Группы». Так, любовь Бенни Профана Рахиль Филинзер относится не только к кругу Бенни, но и является членом Ценной Больной Шайки, о чем сделана соответствующая отметка. 
    </p>
    <div class="characters__table">
      <table class="table_characters_chronology">
        <tr class="table_characters_chronology__row">
          <td class="table_characters_chronology__cell">
            <p class="table_characters_chronology__text"> Имя </p>
          </td>
          <td class="table_characters_chronology__cell">
            <p class="table_characters_chronology__text"> Имя в оригинале и значение имени </p>
          </td>
          <td class="table_characters_chronology__cell">
            <p class="table_characters_chronology__text"> Портрет </p>
          </td>
          <td class="table_characters_chronology__cell">
            <p class="table_characters_chronology__text"> Группы </p>
          </td>
          <td class="table_characters_chronology__cell">
            <p class="table_characters_chronology__text"> Упоминания </p>
          </td>
          <td class="table_characters_chronology__cell">
            <p class="table_characters_chronology__text"> Характеристика </p>
          </td>
        </tr>
        {% with previous_group=None %}
          {% for circle in circles %}
            <tr class="table_characters_chronology__row">
              <td class="table_characters_chronology__cell" colspan="6">
                <h4 class="table_characters_chronology__text circle-name text-center">Круг {{ circle.name }}</h4>
              </td>
            </tr>
            {% with characters=circle.characters.all %}
              {% with group_size=characters|length %}
                {% for character in characters %}
                  <tr class="table_characters_chronology__row">
                    <td class="table_characters_chronology__cell">
                      <h6 class="table_characters_chronology__text"> {{ character.name }} </h6>
                    </td>
                    <td class="table_characters_chronology__cell">
                      <p class="table_characters_chronology__text"> {{ character.value_name }} </p>
                    </td>
                    <td class="table_characters_chronology__cell">
                      <p class="table_characters_chronology__text"> {{ character.portrait }} </p>
                    </td>
                    <td class="table_characters_chronology__cell">
                      <p class="table_characters_chronology__text"> {{ character.groups }} </p>
                    </td>
                    <td class="table_characters_chronology__cell">
                      <p class="table_characters_chronology__text"> {{ character.mentions }} </p>
                    </td>
                    <td class="table_characters_chronology__cell">
                      <p class="table_characters_chronology__text"> {{ character.characteristics }} </p>
                    </td>
                  </tr>
                {% endfor %}
              {% endwith %}
            {% endwith %}
          {% endfor %}
        {% endwith %}
      </table>
    </div>
  </section>
{% endblock %}