.about-nav {
  padding: 50px 0 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-nav__links {
  width: max-content;
  list-style: none;
  padding: 0;
  margin: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 165.5px;
  border-bottom: 1px solid #C3C3C3;
}

.about-nav__link {
  text-decoration: none;
  color: #151515;
  margin: 0;
  padding: 0;
}

.about-nav__link-item_active {
  border-bottom: 1px solid #151515;
}

.about-nav__title {
  margin: 0;
  text-align: center;
}

.about-project {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px 100px;
  box-sizing: border-box;
  position: relative;
}

.about-project__description {
  max-width: 631px;
  padding: 0;
  margin: 0 0 90px;
}

.about-project__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.meeting {
  max-width: 49%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.meeting__topic {
  color: #151515;
  margin: 0;
  padding: 0;
}

.meeting__date {
  color: #C3C3C3;
  margin: 0;
  padding: 0;
}

.meeting__text {
  color: #000;
  margin: 0;
  padding: 0;
}

.meeting__link {
  width: max-content;
  text-decoration: none;
  color: #151515;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  display: inline-block;
  padding: 10px 30px 10px 10px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 40px;
  border: 1px solid #151515;
  transition: background-color 200ms ease, color 200ms ease;
}

.meeting__link::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 20px;
  background-color: #842234;
}

.meeting__link:hover {
  background-color: #842234;
  color: #F3F0EA;
  border-color: #842234;
}

.meeting__iframe {
  width: 100%;
  aspect-ratio: 632 / 379;
  font-size: 0;
}

#plannedMeetingsContainer {
  display: block;
}

#pastMeetingsContainer {
  display: none;
}

@media screen and (max-width: 768px) {
  .about-nav {
    padding: 10px 16px 40px;
  }

  .about-nav__links {
    gap: 20px;
    margin-bottom: 24px;
  }

  .about-nav__link {
    padding: 13px 10px;
    box-sizing: border-box;
  }

  .about-project {
    padding: 0 16px 70px;
  }

  .about-project__content {
    flex-direction: column;
  }

  .about-project__description {
    margin-bottom: 24px;
  }

  .meeting {
    width: 100%;
    max-width: none;
    padding: 24px 0 40px;
    box-sizing: border-box;
    /* стилизация для меню */
    display: none;
  }

  .meeting__topic {
    text-align: center;
    font-style: normal;
    font-size: 2rem;
    font-weight: 900;
    line-height: 120%;
  }

  .meeting__date {
    text-align: center;
  }
}