/* обложка */

.pynchon-promo {
  height: calc(100vh - 83px);
  padding: 0 80px 61px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.pynchon-promo__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pynchon-promo__title-box {
  width: 673px;
  height: 234px;
  background-image: url(../../img/author-name.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
}

.pynchon-promo__text {
  max-width: 632px;
  margin: 0;
  padding: 0;
}

.pynchon-promo__img {
  width: 416px;
  height: 507px;
  margin-top: 72px;
}

/* биография - общее */

.bio {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 80px;
  box-sizing: border-box;
  display: flex;
}

.bio_type_childhood, .bio_type_photos, .bio_type_debut, .bio_type_family {
  justify-content: space-between;
}

.bio_type_youth, .bio_type_boeing, .bio_type_slider, .bio_type_california {
  justify-content: flex-end;
}

.bio_type_photos {
  padding-right: 0;
}

.bio__date {
  margin: 0;
  padding: 0;
}

.bio__date-span {
  font-weight: 700;
}

.bio__fact {
  max-width: 308px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
  padding: 0;
}

.bio__fact-span {
  font-weight: 700;
}

.bio__article {
  width: 848px;
}

.bio__article_type_boeing {
  display: flex;
  justify-content: space-between;
}

.bio__article-content {
  max-width: 416px;
}

.bio__text-columns {
  display: flex;
  gap: 16px;
}

.bio__title {
  margin: 0 0 40px;
  padding: 0;
}

.bio__text {
  margin: 0;
  padding: 0;
}

.bio__text_column {
  width: calc((100% - 16px) / 2);
}

.bio__gallery {
  width: 928px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 8px;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bio__gallery::-webkit-scrollbar {
  display: none;
}

.bio__gallery-column {
  width: 308px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
}

.bio__photo {
  width: 100%;
  aspect-ratio: 308 / 431;
  object-fit: cover;
}

.bio__description {
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  line-height: 160%;
  margin: 5px 0 0;
  padding: 0 40px;
  box-sizing: border-box;
}

.bio__boeing-img {
  width: 308px;
  height: 427px;
}

/* -------------слайдер---------------- */

.bio__slider-container {
  position: relative;
}

.bio__slider-list {
  width: 848px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.bio__slider-photo {
  width: 308px;
  aspect-ratio: 308 / 450;
  object-fit: cover;
}

.bio__slider-next-btn, .bio__slider-prev-btn {
  color: #1c1b1f;
  width: 30px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.bio__slider-next-btn {
  left: calc(100% + 16px);
}

.bio__slider-prev-btn {
  left: calc(-16px - 30px);
}

/* ------------------------------------ */

.bio__family-img {
  width: calc((100% - 16px) / 2);
  aspect-ratio: 416 / 450;
  object-fit: cover;
  margin-top: 48px;
  flex: 0 0 auto;
}

@media screen and (min-width: 1441px) {
  .pynchon-promo__title-box {
    width: 46.74vw;
    height: 16.25vw;
  }

  .pynchon-promo__img {
    width: 28.889vw;
    height: 35.208vw;
  }
}