/* обложка */

.pynchon-promo {
  height: calc(100vh - 83px);
  max-height: 60vw;
  padding: 0 80px 61px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.pynchon-promo__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pynchon-promo__title-box {
  width: 673px;
  height: 234px;
  background-image: url(../../img/author-name.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
}

.pynchon-promo__text {
  max-width: 632px;
  margin: 0;
  padding: 0;
}

.pynchon-promo__img {
  width: 416px;
  height: 507px;
  margin-top: 72px;
}

/* биография - общее */

.bio {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bio__article {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.bio__article_4 {
  justify-content: center;
}

.bio__image-box {
  display: flex;
  gap: 10px;
}

.bio__image {
  max-height: 260px;
}

.bio__column {
  width: calc(50% - 15px);
}

.bio__text {
  /* max-width: 848px; */
  text-align: justify;
  margin: 0;
  padding: 0;
}

.bio__text-link {
  color: #1c1b1f;
  text-decoration: underline;
}


/* -------------слайдер---------------- */

.bio__slider-container {
  position: relative;
}

.bio__slider-list {
  width: 848px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.bio__slider-photo {
  width: 308px;
  aspect-ratio: 308 / 450;
  object-fit: cover;
}

.bio__slider-next-btn, .bio__slider-prev-btn {
  color: #1c1b1f;
  width: 30px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.bio__slider-next-btn {
  left: calc(100% + 16px);
}

.bio__slider-prev-btn {
  left: calc(-16px - 30px);
}


@media screen and (min-width: 1441px) {
  .pynchon-promo__title-box {
    width: 46.74vw;
    height: 16.25vw;
  }

  .pynchon-promo__img {
    width: 28.889vw;
    height: 35.208vw;
  }
}