/* обложка */ 

.pynchon-promo {
  height: calc(100vh - 83px);
  max-height: 60vw;
  padding: 0 80px 61px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.pynchon-promo__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pynchon-promo__title-box {
  width: 673px;
  height: 234px;
  background-image: url(../../img/author-name.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
}

.pynchon-promo__text {
  max-width: 632px;
  margin: 0;
  padding: 0;
}

.pynchon-promo__img {
  width: 416px;
  height: 507px;
  margin-top: 72px;
  mix-blend-mode: darken;
}

/* биография - общее */

.bio {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio__article {
  width: 100%;
  display: flex;
  padding: 40px 80px;
  box-sizing: border-box;
  gap: 16px;
  align-items: stretch;
}

.bio__article_right {
  display: flex;
  justify-content: flex-end;
}

.bio__gallery {
  display: flex;
  align-items: stretch;
  gap: 16px;
}

.bio__image_high {
  width: calc((100% - 48px) / 4);
  max-height: 450px;
  object-fit: cover;
}

.bio__image_high-l {
  max-height: none;
}

.bio__image_wide {
  width: calc((100% - 16px) / 2);
  height: min-content;
}

.bio__image_center {
  align-self: center;
}

.bio__image_family {
  width: calc((100% - 16px) / 2);
  object-fit: cover;
}

.bio__text {
  width: calc((100% - 16px) / 2);
  margin: 0;
  padding: 0;
}

.bio__text_center {
  text-align: center;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}

.bio__text_narrow {
  width: calc((100% - 48px) / 4);
}

.bio__text p {
  margin: 0 0 .5rem;
  padding: 0;
}

.bio__text span {
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  line-height: 120%;
}

.bio__text ul {
  margin: 0 0 .5rem;
  padding: 0 0 0 20px;
}

.bio__text a {
  color: #1c1b1f;
  text-decoration: underline;
}

.bio__fact-grid {
  /* width: calc((100% - 16px) / 2); */
  width: 416px;
  display: grid;
  grid-template-rows: 210px 66px;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 16px;
}

.bio__fact-item {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.bio__fact-item_type_simpson-img {
  height: 100%;
  grid-column: 1/5;
}

.bio__fact-item_type_simpson-video {
  height: 100%;
}


@media screen and (min-width: 1441px) {
  .pynchon-promo__title-box {
    width: 46.74vw;
    height: 16.25vw;
  }

  .pynchon-promo__img {
    width: 28.889vw;
    height: 35.208vw;
  }
}