.chapter-4-kezvh {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0 80px 100px;
  box-sizing: border-box;
}

.chapter-4-kezvh__article {
  display: flex;
  justify-content: space-between;
}

.chapter-4-kezvh__left-column {
  width: 27.6%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chapter-4-kezvh__name {
  margin: 0;
  padding: 0;
}

.chapter-4-kezvh__link {
  width: max-content;
  text-decoration: none;
  color: #151515;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  display: inline-block;
  padding: 10px 30px 10px 10px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 40px;
  border: 1px solid #151515;
  transition: background-color 200ms ease, color 200ms ease;
}

.chapter-4-kezvh__link::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 20px;
  background-color: #842234;
}

.chapter-4-kezvh__link:hover {
  background-color: #842234;
  color: #F3F0EA;
  border-color: #842234;
}

.chapter-4-kezvh__text-content {
  width: 66.25%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.chapter-4-kezvh__text-content a {
  text-decoration: none;
}


.chapter-4-kezvh__title {
  margin: 0;
  padding: 0;
}

.chapter-4-kezvh__text {
  margin: 0;
  padding: 0;
}

.chapter-4-kezvh__img {
  width: 394px;
  object-fit: contain;
  object-position: 0;
}

/* Редизайн. Ноябрь/декабрь 2024 */

.articles {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.articles__article {
  border-bottom: 1px solid #151515;
}

.articles__article:last-of-type {
  border: none;
}

.articles__link {
  width: 100%;
  display: flex;
  gap: 16px;
  cursor: pointer;
  padding: 24px 0;
  box-sizing: border-box;
}

.articles__info {
  width: 45%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.articles__title, .articles__author, .articles__preview {
  margin: 0;
  padding: 0;
}

.articles__author {
  color: #C3C3C3;
}

.article {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 100px 80px;
  box-sizing: border-box;
}

.article__nav {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.article__nav-arrow {
  width: 50px;
  height: 50px;
  background-color: #842234;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F3F0EA;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  padding: 0 2px 5px 0;
  box-sizing: border-box;
}

.article__nav-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.article__content {
  width: 100%;
  max-width: 848px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.article__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.article__title, .article__author {
  margin: 0;
  padding: 0;
  text-align: center;
}

.article__image {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 260px;
  object-fit: contain;
  object-position: 0;
}

@media screen and (max-width: 959px) {
  .chapter-4-kezvh__article {
    flex-direction: column-reverse;
    gap: 24px;
  }

  .chapter-4-kezvh__left-column {
    width: 100%;
  }

  .chapter-4-kezvh__text-content {
    width: 100%;
    gap: 24px;
  }
}

@media screen and (max-width: 768px) {
  .chapter-4-kezvh {
    gap: 40px;
    padding: 0 16px 40px;
  }

  /* Редизайн. Ноябрь/декабрь 2024 */
  .article {
    gap: 24px;
    padding: 40px 16px;
  }

  .article__nav-arrow {
    width: 40px;
    height: 40px;
    font-size: 24px;
    padding: 0 0 3px 0;
  }

  .article__content {
    gap: 40px;
  }
  /* - */
}

/* Редизайн. Ноябрь/декабрь 2024 */
@media screen and (max-width: 600px) {
  .articles__link {
    flex-direction: column;
  }

  .articles__info {
    width: 100%;
  }
}
/* - */

@media screen and (max-width: 500px) {
  .chapter-4-kezvh__img, .chapter-4-kezvh__link {
    width: 100%;
  }
}