.chapter-2-3-notes {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px 119px;
  box-sizing: border-box;
  position: relative;
}

.chapter-2-3-notes__description {
  max-width: 631px;
  padding: 0;
  margin: 0 0 100px;
}

.chapter-2-3-notes__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.sidebar {
  width: 100%;
  max-width: 493px;
  height: min-content;
  background-color: #151515;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar .accordion-item {
  background-color: #151515;
  color: #C3C3C3;
  border: 0;
}

.sidebar .accordion-button {
  background-color: #151515;
  color: #C3C3C3;
  padding: 0;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar .accordion-button::after {
  display: none;
}

.sidebar .accordion-header {
  display: flex;
  gap: 8px;
}

.sidebar__icon {
  width: 24px;
  height: 24px;
  padding: 0;
  content: "";
  background-image: url(../../img/sidebar-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.accordion-button:not(.collapsed) .sidebar__icon {
  background-image: url(../../img/sidebar-arrow.svg);
  transform: rotate(90deg);
}

.sidebar__title {
  max-width: calc(100% - 24px - 8px);
  text-align: left;
  margin: 0 0 8px;
  padding: 0;
}

.sidebar__subtitle {
  max-width: 308px;
  margin: 0;
  padding: 0;
}

.sidebar .accordion-body {
  list-style: none;
  margin: 0;
  padding: 32px 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar__link {
  text-decoration: none;
  color: #C3C3C3;
  padding: 0 8px;
  box-sizing: border-box;
}

.sidebar__link_active {
  color: #151515;
  background-color: #F3F0EA;
  font-weight: 700;
}

.chapter-2-3-notes__list {
  max-width: 49%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.chapter-2-3-notes__item {
  display: flex;
  flex-direction: column;
  /* gap: 32px; */
}

.chapter-2-3-notes__title {
  margin: 0;
  padding: 0;
}

.chapter-2-3-notes__pages {
  color: #842234;
  margin: 0;
  padding: 0;
}

.chapter-2-3-notes__text {
  color: #000;
  margin: 0;
  padding: 0;
}

.chapter-2-3-notes__text-content ul {
  list-style-type: disc;
}

.chapter-2-3-notes__img {
  display: block;
  height: 260px;
  max-width: 100%;
  object-fit: contain;
  object-position: 0;
}

.modal-image {
  width: 50%;
  height: 50%;
  object-fit: contain;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-body {
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
}

.chapter-3-image {
  position: relative;
}

.img-chapter {
  width: 100%;
}

.img {
  object-fit: contain;
  max-width: 100%;
  max-height: 400px;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  background-color: #F3F0EA;
  color: #000;
  font-size: 1.3rem;
  opacity: 0.8;
}

@media screen and (max-width: 1199px) {
  .sidebar {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .chapter-2-3-notes {
    padding: 0 16px 119px;
  }

  .chapter-2-3-notes__description {
    margin-bottom: 24px;
  }

  .chapter-2-3-notes__content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    max-width: none;
  }

  .sidebar__subtitle {
    max-width: none;
  }

  .chapter-2-3-notes__list {
    width: 100%;
    max-width: none;
  }

  .chapter-2-3-notes__item {
    padding: 24px 0 40px;
    box-sizing: border-box;
    /* стилизация для меню */
    display: none;
  }

  .chapter-2-3-notes__title {
    text-align: center;
    font-style: normal;
    font-size: 2rem;
    font-weight: 900;
    line-height: 120%;
  }

  .chapter-2-3-notes__pages {
    text-align: center;
  }
}