.chapter-1-how {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.chapter-1-how__article {
  padding: 40px 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.chapter-1-how__subtitle {
  width: 24%;
  margin: 0;
  padding: 0;
}

.chapter-1-how__subtitle-span {
  font-weight: 400;
}

.chapter-1-how__image-container {
  /* text-align: right;
  max-width: 100%;
  overflow: hidden;
  margin-right: 150px; */
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 0 80px;
  box-sizing: border-box;
}

.chapter-1-how__image-container img {
  /* width: 60%; */
  /* height: 400px; */
  width: 66.25%;
  height: auto;
  object-fit: contain;
}

.modal-content_chapter1 img {
  width: 100%; 
  height: auto;
}

.chapter-1-how__text {
  width: 66.25%;
  margin: 0;
  padding: 0;
}

.chapter-1-how__sign {
  padding: 0 80px 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.chapter-1-how__sign-span {
  color: #C3C3C3;
}

@media screen and (max-width: 768px) {
  .chapter-1-how__article, .chapter-1-how__image-container {
    padding: 12px 16px;
  }

  .chapter-1-how__sign {
    padding: 0 16px 52px;
  }
}

@media screen and (max-width: 600px) {
  .chapter-1-how__article {
    flex-direction: column;
    gap: 24px;
  }

  .chapter-1-how__subtitle, .chapter-1-how__text, .chapter-1-how__image-container img {
    width: 100%;
  }
}
