.about-creators {
  padding: 0 80px 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.about-creators__list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 308px);
  grid-auto-rows: min-content;
  gap: 64px 16px;
  justify-content: center;
}

.about-creators__creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 54px;
  box-sizing: border-box; */
  gap: 8px;
}

.about-creators__photo {
  max-width: 200px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
  filter: grayscale(1);
  margin-bottom: 8px;
}

.about-creators__name, .about-creators__role {
  width: 100%;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .about-creators {
    padding: 0 16px 66px;
  }

  .about-creators__creator {
    padding: 0 31px;
  }
}

@media screen and (max-width: 500px) {
  .about-creators__list {
    grid-template-columns: repeat(auto-fit, 308px);
    gap: 24px 0;
  }

  .about-creators__name {
    font-size: 0.875rem;
  }

  .about-creators__role {
    font-size: 0.75rem;
  }
}
