.about-creators {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0 100px;
  box-sizing: border-box;
}

.about-creators__list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 1fr;
}

.about-creators__creator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 80px;
  box-sizing: border-box;
  position: relative;
  transition: background-color 100ms ease, color 100ms ease;
}

.about-creators__creator::after {
  content: '';
  width: calc(100% - 160px);
  border-bottom: 1px solid #c3c3c3;
  position: absolute;
  bottom: 0;
  left: 80px;
}

.about-creators__creator:last-of-type:after {
  border-color: transparent;
}

.about-creators__creator:hover {
  background-color: #151515;
  color: #F3F0EA;
}

.about-creators__name {
  max-width: 45%;
  font-size: 2.25rem;
}

.about-creators__role {
  width: 50%;
}

.about-creators__name, .about-creators__role {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .about-creators__name {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1150px) {
  .about-creators__name {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 910px) {
  .about-creators__list {
    grid-auto-rows: min-content;
  }

  .about-creators__creator {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
  }

  .about-creators__name, .about-creators__role {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .about-creators__creator {
    padding: 8px 16px;
  }

  .about-creators__creator::after {
    width: calc(100% - 32px);
    left: 16px;
  }
}