.footer {
  padding: 0 80px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 8px;
  box-sizing: border-box;
  border-top: 1px solid #414141;
  gap: 80px;
}

.footer__text-block, .footer__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__text-block {
  width: 60%;
  min-width: 416px;
  max-width: 848px;
}

.footer__links {
  min-width: 416px;
}

.footer__text {
  font-size: 0.75rem;
  font-weight: 300;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.footer__copyright {
  margin: 0;
  padding: 0;
}

.footer__link {
  width: max-content;
  text-decoration: none;
  color: #1B1B1B;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  transition: border 100ms ease;
}

.footer__link:hover {
  border-bottom: 1px solid #1B1B1B;
}

.footer__age {
  color: #C3C3C3;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  padding: 10px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1079px) {
  .footer__links {
    min-width: max-content;
  }
}

@media screen and (max-width: 860px) {
  .footer {
    padding: 24px 80px;
    border-top: 1px solid #414141;
  }

  .footer__container {
    padding: 0 0 16px;
    border: none;
    flex-direction: column-reverse;
    gap: 16px;
  }

  .footer__text-block {
    flex-direction: column-reverse;
    width: 100%;
    min-width: auto;
  }

  .footer__age {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 24px 16px;
  }
}