.footer {
  padding: 0 80px 40px;
  box-sizing: border-box;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px 0 24px;
  box-sizing: border-box;
  border-top: 1px solid #414141;
}

.footer__copyright {
  margin: 0;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  color: #1B1B1B;
  margin: 0 auto;
  padding: 0;
  transition: border 100ms ease;
}

.footer__link:hover {
  border-bottom: 1px solid #1B1B1B;
}

.footer__link, .footer__copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; 
}

.footer__text {
  max-width: 547px;
  margin: 0;
  padding: 0;
  font-style: italic;
  color: #C3C3C3;
}

@media screen and (max-width: 1079px) {
  .footer__link, .footer__copyright {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 40px 16px;
    border-top: 1px solid #414141;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 24px;
    border: none;
  }

  .footer__link {
    margin: 0;
  }
}