.header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px 0 65px;
  box-sizing: border-box;
}

.header__logo {
  width: 128px;
}

.header__links {
  list-style: none;
  display: flex;
  gap: 55px;
  margin: 0;
  padding: 0;
}

.header__item {
  position: relative;
}

.header__link {
  color: #151515;
  font-style: italic;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: border 100ms ease;
}

.header__link:hover {
  border-bottom: 1px solid #151515;
}

.header__drop {
  width: 200px;
  position: absolute;
  top: calc(32px - 1px);
  right: 0;
  padding: 14px 0 0;
  box-sizing: border-box;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 100ms ease, visibility 100ms ease;
  /* width: 100%; */
  /* top: 54px; */
  /* top: 0; */
  /* right: 80px; */
  /* display: none; */
}

.header__drop-links {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
  background-color: #151515;
  padding: 16px;
  box-sizing: border-box;
}

@media (hover: hover) {
  .header__link:hover ~ .header__drop,
  .header__drop:hover {
    opacity: 1;
    visibility: visible;
  }
}

.header__drop-link {
  width: 100%;
  text-decoration: none;
  color: #F3F0EA;
}

.header__button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../../img/burger-icon.svg);
  border: 0;
  outline: 0;
  margin: 8px;
  padding: 0;
}

.header__book {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../../img/book-icon.svg);
  border: 0;
  outline: 0;
  margin: 8px 8px 8px auto;
  padding: 0;
}

@media screen and (max-width: 1079px) {
  .header__links {
    gap: 30px;
  }
}

@media screen and (min-width: 769px) {
  .header__button, .header__book {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 56px 16px 0;
  }

  .header__logo {
    width: 60px;
  }

  .header__links {
    display: none;
  }
}