.header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px 0 65px;
  box-sizing: border-box;
  overflow: hidden;
}

.header__logo {
  width: 128px;
}

.header__links {
  list-style: none;
  display: flex;
  gap: 55px;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #151515;
  font-style: italic;
  text-transform: uppercase;
  transition: border 100ms ease;
}

.header__link:hover {
  border-bottom: 1px solid #151515;
}

.header__button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../../img/burger-icon.svg);
  border: 0;
  outline: 0;
  margin: 8px;
  padding: 0;
}

.header__book {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../../img/book-icon.svg);
  border: 0;
  outline: 0;
  margin: 8px 8px 8px auto;
  padding: 0;
}

@media screen and (max-width: 1079px) {
  .header__links {
    gap: 30px;
  }
}

@media screen and (min-width: 769px) {
  .header__button, .header__book {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 56px 16px 0;
  }

  .header__logo {
    width: 60px;
  }

  .header__links {
    display: none;
  }
}