.promo {
  padding: 28px 80px 61px;
  box-sizing: border-box;
  height: calc(100vh - 83px);
  max-height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.promo__title-box {
  display: block;
  width: 63.54vw;
  height: 12.36vw;
  background-image: url(../../img/name.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
}

.promo__text {
  max-width: 632px;
  margin: 0;
}

.promo__circle {
  max-width: 400vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #151515;
  position: absolute;
  width: 23.75vw;
  right: 10.56vw;
  bottom: 6.39vw;
}

.promo__rocket {
  aspect-ratio: 451 / 431;
  background-image: url(../../img/rocket.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 29.93vw;
  right: 9.17vw;
  bottom: 0.49vw;
}

.chapters__dark {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151515;
  color: #F8F6F3;
  overflow: hidden;
}

.chapters__light {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chapter-preview {
  width: 100%;
  max-width: 1440px;
  padding: 75px 80px 70px;
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.chapter-preview_dark {
  background-color: #151515;
}

.chapter-preview__content {
  max-width: 426px;
  margin-right: 14%;
  z-index: 2;
  position: relative;
}

.chapter-preview__content_right {
  margin-left: auto;
}

.chapter-preview__header {
  min-height: 172px;
  padding-left: 16px;
  box-sizing: border-box;
}

.chapters__dark .chapter-preview:nth-child(1) .chapter-preview__header {
  border-left: 10px solid #842234;
}

.chapters__dark .chapter-preview:nth-child(2) .chapter-preview__header {
  border-left: 10px solid #9E501F;
}

.chapters__dark .chapter-preview:nth-child(3) .chapter-preview__header {
  border-left: 10px solid #91741F;
}

.chapters__light .chapter-preview:nth-child(1) .chapter-preview__header {
  border-left: 10px solid #82A592;
}

.chapters__light .chapter-preview:nth-child(2) .chapter-preview__header {
  border-left: 10px solid #829DA5;
}

.chapters__light .chapter-preview:nth-child(3) .chapter-preview__header {
  border-left: 10px solid #75889A;
}

.chapters__light .chapter-preview:nth-child(4) .chapter-preview__header {
  border-left: 10px solid #9E82A5;
}

.chapter-preview__title  {
  color: #C3C3C3;
  margin: 0;
  padding: 0;
}

.chapter-preview__header a{
  color: #1c1b1f;
  text-decoration: none;
}

.chapters__dark .chapter-preview__title {
  color: #414141;
}

.chapter-preview__subtitle {
  margin: 8px 0 0;
  padding: 0;
}

.chapter-preview__text {
  margin: 40px 0 0;
  padding: 0 0 0 26px;
}

.chapters__dark .chapter-preview__text {
  color: #C3C3C3;
}

.chapter-preview__link {
  width: max-content;
  text-decoration: none;
  color: #151515;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  display: inline-block;
  padding: 10px 30px 10px 10px;
  box-sizing: border-box;
  border-radius: 40px;
  border: 1px solid #151515;
  margin: 80px 0 0 26px;
  transition: background-color 200ms ease, color 200ms ease;
}

.chapters__dark .chapter-preview__link {
  color: #F8F6F3;
  border: 1px solid #F8F6F3;
}

.chapter-preview__link::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 20px;
}


.chapters__dark .chapter-preview:nth-child(1) .chapter-preview__link::before {
  background-color: #842234;
}

.chapters__dark .chapter-preview:nth-child(1) .chapter-preview__link:hover {
  background-color: #842234;
  color: #F3F0EA;
  border-color: #842234;
}

.chapters__dark .chapter-preview:nth-child(2) .chapter-preview__link::before {
  background-color: #9E501F;
}

.chapters__dark .chapter-preview:nth-child(2) .chapter-preview__link:hover {
  background-color: #9E501F;
  color: #F3F0EA;
  border-color: #9E501F;
}

.chapters__dark .chapter-preview:nth-child(3) .chapter-preview__link::before {
  background-color: #91741F;
}

.chapters__dark .chapter-preview:nth-child(3) .chapter-preview__link:hover {
  background-color: #91741F;
  color: #F3F0EA;
  border-color: #91741F;
}

.chapters__light .chapter-preview:nth-child(1) .chapter-preview__link::before {
  background-color: #82A592;
}

.chapters__light .chapter-preview:nth-child(1) .chapter-preview__link:hover {
  background-color: #82A592;
  color: #F3F0EA;
  border-color: #82A592;
}

.chapters__light .chapter-preview:nth-child(2) .chapter-preview__link::before {
  background-color: #829DA5;
}


.chapters__light .chapter-preview:nth-child(2) .chapter-preview__link:hover {
  background-color: #829DA5;
  color: #F3F0EA;
  border-color: #829DA5;
}

.chapters__light .chapter-preview:nth-child(3) .chapter-preview__link::before {
  background-color: #75889A;
}

.chapters__light .chapter-preview:nth-child(3) .chapter-preview__link:hover {
  background-color: #75889A;
  color: #F3F0EA;
  border-color: #75889A;
}

.chapters__light .chapter-preview:nth-child(4) .chapter-preview__link::before {
  background-color: #9E82A5;
}

.chapters__light .chapter-preview:nth-child(4) .chapter-preview__link:hover {
  background-color: #9E82A5;
  color: #F3F0EA;
  border-color: #9E82A5;
}

.chapter-preview__counter {
  color: #414141;
}

.chapter-preview__image {
  display: block;
  width: 41%;
  object-fit: contain;
  object-position: top;
}

@media screen and (max-width: 1439px) {
  .chapter-preview__content {
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .promo {
    justify-content: flex-start;
  }

  .promo__title-box {
    width: 100%;
    height: calc((100vw - 160px) * 178 / 915);
  }

  .promo__text {
    margin-top: 32px;
    max-width: 450px;
  }

  .chapter-preview__link, .chapter-preview__text {
    margin-top: 24px;
  }
}

@media screen and (max-width: 1079px) {
  .chapter-preview__header {
    min-height: 84px;
  }
}

@media screen and (max-width: 920px) {
  .chapter-preview {
    flex-direction: column;
  }

  .chapter-preview__counter, .chapter-preview__image {
    margin-bottom: 40px;
  }

  .chapter-preview__image {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    height: calc(100vh - 97.4px);
    max-height: 100vw;
    padding: 12px 16px 40px;
  }

  .promo__title-box {
    height: calc((100vw - 32px) * 178 / 915);
  }

  .promo__circle {
    width: 252px;
    right: 30.74px;
    bottom: 100.8px;
  }

  .promo__rocket {
    width: 328px;
    right: 16px;
    bottom: 38px;
  }

  .chapters__dark, .chapters__light {
    padding: 32px 16px;
    box-sizing: border-box;
    gap: 40px;
  }

  .chapter-preview {
    padding: 0;
  }
}

@media screen and (max-width: 560px) {
  .promo {
    max-height: none;
  }

  .chapter-preview__counter {
    align-self: flex-end;
  }

  .chapter-preview__image {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

@media screen and (max-width: 414px) {
  .chapter-preview__image {
    height: 240px;
  }
}