.other-books {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 80px 63px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-books__title {
  padding: 0;
  margin: 0 0 32px;
}

.other-books__content {
  display: flex;
  justify-content: space-between;
}

.other-books__sidebar {
  width: 42.2%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #151515;
  margin: 0;
  padding: 32px;
  box-sizing: border-box;
}

.other-books__book-link {
  display: block;
  width: 100%;
  max-width: 334px;
  text-decoration: none;
  color: #C3C3C3;
  margin: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.other-books__book-link_active {
  background-color: #F3F0EA;
  color: #151515;
}

.other-books__description {
  width: 49.4%;
  padding-top: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.other-books__text {
  margin: 0;
  padding: 0;
}

.other-books__btn {
  width: max-content;
  height: max-content;
  background-color: transparent;
  color: #151515;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  padding: 10px 30px 10px 10px;
  margin: 0;
  border-radius: 40px;
  border: 1px solid #151515;
  outline: 0;
  cursor: pointer;
  transition: background-color 200ms ease, color 200ms ease;
}

.other-books__btn::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 20px;
  background-color: #842234;
}

.other-books__btn:hover {
  background-color: #842234;
  color: #F3F0EA;
  border-color: #842234;
}

.covers-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s, opacity .4s ease;
}

.covers-popup_opened {
  visibility: visible;
  opacity: 1;
}

.covers-popup__slider {
  width: 80%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.covers-popup__wrapper {
  gap: 0;
}

.covers-popup__slider-photo {
  display: block;
  width: 622px;
  aspect-ratio: 426 / 622;
  object-fit: contain;
  object-position: center;
}

.covers-popup__pagination {
  position: static;
}

.covers-popup__pagination .swiper-pagination-bullet {
  background: #C3C3C3;
  opacity: 1;
}

.covers-popup__pagination .swiper-pagination-bullet-active {
  background: #842234;
}