html {
  font-size: 16px;
}

a {
  color: inherit;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #F3F0EA;
  color: #151515;
  margin: 0 auto;
}

.content {
  flex: 1 1 auto;
}

.chapter-title {
  font-size: 4rem;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

.title-bold {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.title {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

.body-text-l {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
}

.body-text-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 160%;
}

.body-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

.link {
  text-decoration: none;
}

.to-top__button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  background-image: url('../../img/to-top-btn.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 80px;
  bottom: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  transition: background-image 200ms ease;
}

.to-top:hover .to-top__button {
  background-image: url(../../img/to-top-btn-hover.svg);
}

.to-top__text {
  mix-blend-mode: difference;
  color: #F3F0EA;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 140px;
  bottom: 52px;
  z-index: 100;
}

.tentacle {
  z-index: 1;
}

.tentacle1 {
  position: absolute;
  top: 88px;
  right: 187px;
  width: 869.7px;
  mix-blend-mode: multiply;
}

.tentacle2 {
  position: absolute;
  top: 230px;
  left: 200px;
  width: 835.13px;
  mix-blend-mode: multiply;
}

.tentacle3 {
  position: absolute;
  width: 957.71px;
  bottom: -50px;
  left: 630px;
  mix-blend-mode: multiply;
}

.tentacle4 {
  position: absolute;
  width: 748.66px;
  top: 0px;
  left: 147px;
  opacity: 0.6;
  mix-blend-mode: color-burn;
}

.tentacle5 {
  position: absolute;
  width: 719.42px;
  bottom: -70px;
  left: 342px;
  opacity: 0.4;
  mix-blend-mode: color-burn;
}

.tentacle6 {
  position: absolute;
  width: 437.2px;
  bottom: 0px;
  left: 649px;
  opacity: 0.8;
  mix-blend-mode: color-burn;
}

.tentacle_type_chapter {
  left: 568px;
  top: -475px;
  z-index: -1;
}

.tentacle_type_about {
  left: 662px;
  top: -339px;
  z-index: -1;
}

.highlighted {
  background-color: yellow;
}

.custom-button {
  color: black; 
  background-color: transparent;
  border-color: #990033;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #990033;
  color: white;
}

.prev-chapter {
  margin-right: 10px;
}

.next-chapter {
  margin-left: 10px;
}

.accordion-container {
  max-height: 850px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.accordion-container::-webkit-scrollbar {
  display: none;
}

.comments-container {
  max-height: 1200px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.comments-container::-webkit-scrollbar {
  display: none; 
}

#image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

#zoom-in-button,
#zoom-out-button {
    background-color: #990033;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#zoom-in-button {
    margin-left: -50px; 
}

#zoom-out-button {
    margin-left: 10px; 
}

#zoom-in-button:hover,
#zoom-out-button:hover {
    background-color: #cc0044;
}

#zoom-in-button:active,
#zoom-out-button:active {
    transform: scale(0.95) translateX(-50%);
}

.article_transform {
  height: 130px;
  overflow: hidden;
}

.help_text {
  color: #c3c3c3;
  text-decoration: none;
  align-self: flex-end;
}

.article-content {
  overflow: hidden;
  height: 130px;
  transition: height 0.3s ease;
}

.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: end;
  z-index: 1000;
  background-color: rgba(21, 21, 21, .3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility .2s, opacity .2s;
  -o-transition: visibility .2s, opacity .2s;
  transition: visibility .2s, opacity .2s;
}

.menu_opened {
  visibility: visible;
  opacity: 1;
}

.menu__container {
  background-color: #151515;
  width: 100%;
  max-width: 450px;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 800px;
  padding: 56px 16px;
  box-sizing: border-box;
  background-image: url(../../img/logo-white.png);
  background-repeat: no-repeat;
  background-size: 78%;
  background-position: top 144px center;
}

.menu__close {
  align-self: flex-end;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
  outline: 0;
  background-image: url(../../img/close-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0;
  margin: 8px;
}

.menu__links {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu__link {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #F8F6F3;
  text-decoration: none;
}

@media screen and (max-width: 1439px) {
  .tentacle_type_chapter, .tentacle_type_about {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .to-top {
    display: none;
  }
}

@media screen and (max-width: 1079px) {
  .title, .title-bold, .body-text-l {
    font-size: 1rem;
  }

  .chapter-title {
    font-size: 2rem;
  }

  .body-text, .body-text-bold {
    font-size: 0.875rem;
  }

  .tentacle {
    display: none;
  }
}