.v-main.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #151515;
  mix-blend-mode: difference;
}

.v-main .header__link {
  color: #F3F0EA;
}

.v-main .header__link:hover {
  border-bottom: 1px solid #F3F0EA;
}

.v-main .header__logo,
.v-main .header__button {
  -webkit-filter: invert();
          filter: invert();
}

.v.promo {
  height: 100vh;
  max-height: 140vw;
  background-color: #151515;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.v .promo__text {
  width: calc(50% - 150px);
  max-width: 525px;
  position: absolute;
  left: 80px;
  bottom: 200px;
  z-index: 1;
}

.v .promo__text span {
  text-transform: none;
}

.promo__v-venera {
  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 10%;
}

.promo__v-silhouette {
  height: 132%;
  position: absolute;
  bottom: 0;
}

.promo__v-silhouette:first-of-type {
  right: 50%;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
}

.promo__v-silhouette:last-of-type {
  left: 50%;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.promo__v-dot {
  width: 79px;
  height: 79px;
  background-color: #9E501F;
  position: absolute;
  bottom: 1px;
  left: calc(50% + 50px);
  border-radius: 50%;
}

.v .promo__subtitle-block {
  width: 100%;
  margin: 0 auto;
  padding: 24px 16px;
  box-sizing: border-box;
  display: none;
  background-color: #151515;
}

.v .promo__subtitle {
  text-align: center;
  color: #F3F0EA;
}

.v .search__button {
  background-image: url(../../img/search-btn-orange.svg);
}

.v .chapters-nav__item_active {
  background-color: #9E501F;
}

.v .chapters__dark .chapter-preview:nth-child(1) .chapter-preview__header {
  border-left: 10px solid #9E501F;
}

.v .chapters__dark .chapter-preview:nth-child(1) .chapter-preview__link::before {
  background-color: #9E501F;
}

.v .chapters__dark .chapter-preview:nth-child(1) .chapter-preview__link:hover {
  background-color: #9E501F;
  color: #F3F0EA;
  border-color: #9E501F;
}

.v .chapters__dark .chapter-preview:nth-child(2) .chapter-preview__header {
  border-left: 10px solid #91741F;
}

.v .chapters__dark .chapter-preview:nth-child(2) .chapter-preview__link::before {
  background-color: #91741F;
}

.v .chapters__dark .chapter-preview:nth-child(2) .chapter-preview__link:hover {
  background-color: #91741F;
  color: #F3F0EA;
  border-color: #91741F;
}

.v .chapters__dark .chapter-preview:nth-child(3) .chapter-preview__header {
  border-left: 10px solid #842234;
}

.v .chapters__dark .chapter-preview:nth-child(3) .chapter-preview__link::before {
  background-color: #842234;
}

.v .chapters__dark .chapter-preview:nth-child(3) .chapter-preview__link:hover {
  background-color: #842234;
  color: #F3F0EA;
  border-color: #842234;
}

.v .chapter-preview {
  gap: 48px;
}

.v .chapter-preview__image {
  width: 40%;
  margin: 0 auto;
}

.v .chronology__slide_active .chronology__slide-text {
  color: #9E501F;
}

.v .chronology-description__fact-number {
  background-color: #9E501F;
}

.bg-crocodile {
  width: 300px;
  object-fit: contain;
  position: absolute;
  z-index: 1;
}

.bg-crocodile_dark {
  left: -80px;
  bottom: -100px;
  transform: rotate(45deg);
  filter: invert(30%);
  opacity: 20%;
}

.bg-crocodile_light {
  left: 30%;
  top: -30px;
  transform: rotate(-135deg);
  opacity: 50%;
}

.bg-sewer {
  position: absolute;
  top: 120px;
  right: -100px;
  transform: rotate(-20deg);
  width: 400px;
  object-fit: contain;
  opacity: 6%;
  z-index: 1;
}

.v .to-top__button {
  background-image: url(../../img/to-top-btn-orange.svg);
}

.v .custom-button:hover, .v .characters__to-map-link:hover {
  border: 1px solid #9E501F;
  background-color: #9E501F;
}

.v .characters__to-map-link::before {
  background-color: #9E501F;
}

.v .article__nav-arrow {
  background-color: #9E501F;
}

.v .articles__article:hover {
  color: #F3F0EA;
  background-color: #9E501F;
}

@media screen and (max-width: 1279px) {
  .v .promo__text {
    bottom: 100px;
  }
}

@media screen and (max-width: 1199px) {
  .v.promo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bg-sewer {
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .v .promo {
    height: calc(100vh);
    max-height: 130vw;
  }

  .v .promo__text {
    width: calc(50% - 30px);
    left: 16px;
    bottom: 16px;
  }

  .v .promo__text span {
    display: none;
  }

  .v .promo__subtitle-block {
    display: block;
  }

  .v .chapter-preview__image {
    width: 100%;
  }
  
  .bg-crocodile, .bg-sewer {
    display: none;
  }
}