asgiref==3.6.0
da-vinci==0.3.0
Django==3.2.16
django-ckeditor==6.3.2
django-import-export==3.2.0
django-simple-captcha==0.5.20
factory-boy==3.2.1
Faker==17.6.0
flake8==5.0.4
gunicorn==20.0.4
importlib-metadata==4.2.0
load-dotenv==0.1.0
mccabe==0.7.0
mypy==0.971
mypy-extensions==0.4.3
Pillow==9.2.0
psycopg2-binary==2.9.5
pycodestyle==2.9.1
pyflakes==2.5.0
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.2.1
shortuuid==1.0.9
six==1.16.0
sorl-thumbnail==12.7.0
sqlparse==0.4.2
tomli==2.0.1
typed-ast==1.5.4
typing_extensions==4.3.0