asgiref==3.8.1
bleach==6.1.0
diff-match-patch==20230430
Django==5.1.1
django-ckeditor==6.7.1
django-import-export==4.1.1
django-js-asset==2.2.0
django-ranged-response==0.2.0
django-simple-captcha==0.6.0
factory_boy==3.3.1
Faker==28.4.1
pillow==10.4.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.16.0
sorl-thumbnail==12.10.0
sqlparse==0.5.1
tablib==3.5.0
webencodings==0.5.1
wheel==0.44.0
