{% with request.resolver_match.view_name as view_name %}
    <ul class="chapters-nav__list">
        <li class="chapters-nav__item 
            {% if view_name == 'wiki:rainbow_part1' %}chapters-nav__item_active
            {% elif view_name == 'wiki:article1' %}chapters-nav__item_active
            {% elif view_name == 'wiki:article2' %}chapters-nav__item_active
            {% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:rainbow_part1' %}">
            <h1 class="chapters-nav__chapter">Раздел 1</h1>
            <h2 class="chapters-nav__name">Как перестать беспокоиться и начать читать роман</h2>
        </a>
        </li>
        <li class="chapters-nav__item {% if view_name == 'wiki:rainbow_part2' %}chapters-nav__item_active{% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:rainbow_part2' %}">
            <h1 class="chapters-nav__chapter">Раздел 2</h1>
            <h2 class="chapters-nav__name">Примечания</h2>
        </a>
        </li>
        <li class="chapters-nav__item {% if view_name == 'wiki:rainbow_part3' %}chapters-nav__item_active{% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:rainbow_part3' %}">
            <h1 class="chapters-nav__chapter">Раздел 3</h1>
            <h2 class="chapters-nav__name">Комментарии</h2>
        </a>
        </li>
        <li class="chapters-nav__item {% if view_name == 'wiki:rainbow_part4' %}chapters-nav__item_active{% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:rainbow_part4' %}">
            <h1 class="chapters-nav__chapter">Раздел 4</h1>
            <h2 class="chapters-nav__name">KEZVH - Статьи</h2>
        </a>
        </li>
        <li class="chapters-nav__item {% if view_name == 'wiki:rainbow_part5' %}chapters-nav__item_active{% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:rainbow_part5' %}">
            <h1 class="chapters-nav__chapter">Раздел 5</h1>
            <h2 class="chapters-nav__name">Хронология</h2>
        </a>
        </li>
        <li class="chapters-nav__item 
            {% if view_name == 'wiki:rainbow_part6' %}chapters-nav__item_active
            {% elif view_name == 'wiki:rainbow_part6_map' %}chapters-nav__item_active
            {% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:rainbow_part6' %}">
            <h1 class="chapters-nav__chapter">Раздел 6</h1>
            <h2 class="chapters-nav__name">Персонажи</h2>
        </a>
        </li>
        <li class="chapters-nav__item {% if view_name == 'wiki:rainbow_part7' %}chapters-nav__item_active{% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:rainbow_part7' %}">
            <h1 class="chapters-nav__chapter">Раздел 7</h1>
            <h2 class="chapters-nav__name">Разбор романа</h2>
        </a>
        </li>
    </ul>
{% endwith %}