
<article id='{{comment.order_number}}'>
    <p><i>
        Стр.{{ comment.page_number_by_2012 }}/
        Стр.{{ comment.page_number_by_2021 }}</i>
    </p>
    <p>
        <b>{{ comment.origin_text|linebreaks }}</b>
    </p>
    <p>
        {{ comment.comment_text|linebreaks }}
    </p>
    <p>
        {% if comment.image %}
        {{ comment.get_image }}
        {% endif %}
    </p>
    <p>
        {% if comment.links %}
        Ссылка, упомянутая в примечании: <a href="{{comment.links}}">{{ comment.links }}</a>
        {% endif %}
    </p>
</article>