<footer class="footer">
    <div class="footer__container">
      <p class="footer__copyright body-text">
        © Группа “Расёмон”, <script>document.write(new Date().getFullYear())</script>.<br>
        Любое (полное или частичное) использование либо копирование<br>
        материалов или подборки материалов сайта, элементов дизайна<br>
        и оформления допускается лишь с разрешения правообладателя<br>
        и только со ссылкой на источник: www.pynchon.ru и с указанием<br> правообладателя.
      </p>
      <a class="footer__link body-text" href="https://t.me/infinite_edge">Телеграм канал</a>
    </div>
  </footer>

  <!-- компонент прокрутки страницы вверх -->
  <div class="to-top">
    <p class="to-top__text body-text">В начало</p>
    <button class="to-top__button" type="button" id="scrollToTopLink"></button>
  </div>
</footer>