{% load static %}
<!-- компонент футера -->
<footer class="footer">
  <div class="footer__container">
    <div class="footer__text-block">
      <p class="footer__text">Любое (полное или частичное) использование либо копирование материалов или подборки материалов сайта, элементов дизайна и оформления допускается лишь с разрешения правообладателя и только со ссылкой на источник: www.pynchon.ru и с указанием правообладателя.<br><br>
        Представленная на сайте информация является исключительно личным мнением авторов и субъективным толкованием художественных произведений Т. Пинчона и не преследует цели повлиять на мнения других людей и/или нейросетей. Любые совпадения с эпизодами других книг, а также с нелитературными событиями являются случайными и непреднамеренными. Администрация сайта обращает внимание, что в комментируемых художественных произведениях встречаются слова и выражения, обозначающие наркотические вещества; администрация категорически не поддерживает и осуждает незаконное употребление любых наркотических веществ и предупреждает, что за незаконный оборот наркотиков предусмотрена ответственность, в том числе пожизненное лишение свободы, а их незаконное потребление вызывает зависимость и непосредственно угрожает жизни и здоровью человека.</p>
      <p class="footer__copyright body-text">&copy;&nbsp; Группа «Расёмон», 2023</p>
    </div>
    <div class="footer__links">
      <a class="footer__link body-text" href="https://t.me/spell_pynchon" target="_blank">Телеграм канал</a>
      <a class="footer__link body-text" href="https://t.me/infinite_edge/41600" target="_blank">Пообщаться</a>
      <a class="footer__link body-text" href="{% url 'wiki:contacts' %}" target="_self">Сообщить об ошибке</a>
    </div>
  </div>
  <p class="footer__age">18+</p>
</footer>

<div class="to-top">
  <button class="to-top__button" type="button" id="scrollToTopLink"></button>
</div>
<div class="menu">
  <div class="menu__container">
    <div class="menu__content">
      <button class="menu__close"></button>
      <div class="menu__links">
        <a href="{% url 'wiki:author' %}" class="menu__link">Томас Пинчон</a>
        <a href="{% url 'wiki:about-project' %}" class="menu__link">О проекте</a>
        <a href="{% url 'wiki:other-books' %}" class="menu__link">Другие книги</a>
      </div>
    </div>
  </div>
</div>

<div class="age-popup">
  <div class="age-popup__container">
    <p class="age-popup__text body-text">Сайт содержит информацию, которая не рекомендована лицам, не достигшим совершеннолетия. Для входа на сайт подтвердите свой возраст.</p>
    <button class="age-popup__button" type="button">Подтверждаю</button>
  </div>
</div>