{% load static %}
{% load user_filters %}
{% show_top_menu as top_menu %}
<nav class="navbar navbar-light" style="background-color: #414141">
    <div class="container">
        {% with request.resolver_match.view_name as view_name %}
            {% if view_name == 'wiki:index' %}
                <div class="navbar-brand text-white disabled user-select-none">Радуга тяготения</div>
            {% else %}
                <a class="navbar-brand text-white" href="{% url 'wiki:index' %}">Радуга тяготения</a>
            {% endif %}
            <ul class="nav nav-pills">
                {% for menu in top_menu %}
                    <li class="nav-item">
                        <a class="nav-link link-light nav-bg
                        {% if request.path == menu.url %} active text-bg-secondary{% else %}text-beyge{% endif %}" href="{{ menu.url }}">{{ menu.name }}</a>
                    </li>
                {% endfor %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link link-light nav-bg " href="{% url 'users:logout' %}">Выйти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light disabled">Пользователь: {{ user.username }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link link-light nav-bg  {% if view_name  == 'users:login' %} active text-bg-secondary{% else %}text-beyge{% endif %}" href="{% url 'users:login' %}">Войти</a>
                    </li>
                {% endif %}
            </ul>
        {% endwith %}
    </div>
</nav>