{% load thumbnail %}
{% if chapter.image %}
  {% thumbnail chapter.image "1600x900" as thumbnail %}
    <div style="flex: 0 0 30%; margin-right: -40px; height: 450px; width: 900px; background-color: {{ request.session.theme.background_color }};">
      <img style="height: 100%; width: 100%; object-fit: contain; cursor: pointer;" src="{{ thumbnail.url }}" alt="{{ chapter.image.alt }}" data-bs-toggle="modal" data-bs-target="#image-modal-{{ chapter.pk }}">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="image-modal-{{ chapter.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 70%; height: 70%; max-width: none;">
        <div class="modal-content">
          <div class="modal-body text-center">
            <img src="{{ chapter.image.url }}" style="max-width: 100%; max-height: 100%;" alt="{{ chapter.image.alt }}">
          </div>
        </div>
      </div>
    </div>
  {% endthumbnail %}
{% else %}
  <div class="empty-image" style="background-color: {{ request.session.theme.background_color }}; flex: 0 0 40%; margin-right: -40px; height: 450px; width: 900px;"></div>
{% endif %}