{% with request.resolver_match.view_name as view_name %}
    <ul class="chapters-nav__list v">
        <li class="chapters-nav__item 
            {% if view_name == 'wiki:v_part1' %}chapters-nav__item_active
            {% elif view_name == 'wiki:v_article1' %}chapters-nav__item_active
            {% elif view_name == 'wiki:v_article2' %}chapters-nav__item_active
            {% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:v_part1' %}">
            <h1 class="chapters-nav__chapter">Раздел I</h1>
            <h2 class="chapters-nav__name">Как перестать беспокоиться и начать читать роман</h2>
        </a>
        </li>
        <li class="chapters-nav__item 
            {% if view_name == 'wiki:v_part2' %}chapters-nav__item_active
            {% elif view_name == 'wiki:v_part2_detail' %}chapters-nav__item_active
            {% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:v_part2' %}">
            <h1 class="chapters-nav__chapter">Раздел II</h1>
            <h2 class="chapters-nav__name">Примечания</h2>
        </a>
        </li>
        <li class="chapters-nav__item {% if view_name == 'wiki:v_part3' %}chapters-nav__item_active{% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:v_part3' %}">
            <h1 class="chapters-nav__chapter">Раздел III</h1>
            <h2 class="chapters-nav__name">KEZVH - Статьи</h2>
        </a>
        </li>
        <li class="chapters-nav__item {% if view_name == 'wiki:v_part4' %}chapters-nav__item_active{% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:v_part4' %}">
            <h1 class="chapters-nav__chapter">Раздел IV</h1>
            <h2 class="chapters-nav__name">Хронология</h2>
        </a>
        </li>
        <li class="chapters-nav__item 
            {% if view_name == 'wiki:v_part5' %}chapters-nav__item_active
            {% elif view_name == 'wiki:v_part5_map' %}chapters-nav__item_active
            {% endif %}">
        <a class="chapters-nav__link" href="{% url 'wiki:v_part5' %}">
            <h1 class="chapters-nav__chapter">Раздел V</h1>
            <h2 class="chapters-nav__name">Персонажи</h2>
        </a>
        </li>
    </ul>
{% endwith %}